{
  "swagger": "2.0",
  "info": {
    "title": "Quick Base API",
    "version": "1.0.0"
  },
  "host": "api.quickbase.com/v1",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "paths": {
    "/apps": {
      "post": {
        "description": "Creates an application in an account. You must have application creation rights in the respective account. Main properties and application variables can be set with this API.",
        "summary": "Create an app",
        "operationId": "createApp",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {
              "$ref": "#/definitions/CreateAppRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "x-amf-mediaType": "application/json",
            "schema": {
              "$ref": "#/definitions/createApp200Response"
            }
          }
        },
        "tags": [
          "Apps"
        ]
      }
    },
    "/apps/{appId}": {
      "get": {
        "description": "Returns the main properties of an application, including application variables.",
        "summary": "Get an app",
        "operationId": "getApp",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "appId",
            "description": "The unique identifier of an app",
            "required": true,
            "in": "path",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "x-amf-mediaType": "application/json",
            "schema": {
              "$ref": "#/definitions/getApp200Response"
            }
          }
        },
        "tags": [
          "Apps"
        ]
      },
      "post": {
        "description": "Updates the main properties and/or application variables for a specific application. Any properties of the app that you do not specify in the request body will remain unchanged.",
        "summary": "Update an app",
        "operationId": "updateApp",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "appId",
            "description": "The unique identifier of an app",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {
              "$ref": "#/definitions/UpdateAppRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "x-amf-mediaType": "application/json",
            "schema": {
              "$ref": "#/definitions/updateApp200Response"
            }
          }
        },
        "tags": [
          "Apps"
        ]
      },
      "delete": {
        "description": "Deletes an entire application, including all of the tables and data.",
        "summary": "Delete an app",
        "operationId": "deleteApp",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "appId",
            "description": "The unique identifier of an app",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {
              "$ref": "#/definitions/DeleteAppRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "x-amf-mediaType": "application/json",
            "schema": {
              "$ref": "#/definitions/deleteApp200Response"
            }
          }
        },
        "tags": [
          "Apps"
        ]
      }
    },
    "/apps/{appId}/events": {
      "get": {
        "description": "Get a list of events that can be triggered based on data or user actions in this application, includes: Email notification, Reminders, Subscriptions, QB Actions, Webhooks, record change triggered Automations (does not include scheduled).",
        "summary": "Get app events",
        "operationId": "getAppEvents",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "appId",
            "description": "The unique identifier of an app",
            "required": true,
            "in": "path",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "x-amf-mediaType": "application/json",
            "schema": {
              "$ref": "#/definitions/getAppEvents200Response"
            }
          }
        },
        "tags": [
          "Apps"
        ]
      }
    },
    "/apps/{appId}/copy": {
      "post": {
        "description": "Copies the specified application. The new application will have the same schema as the original. See below for additional copy options.",
        "summary": "Copy an app",
        "operationId": "copyApp",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "appId",
            "description": "The unique identifier of an app",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {
              "$ref": "#/definitions/CopyAppRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "x-amf-mediaType": "application/json",
            "schema": {
              "$ref": "#/definitions/copyApp200Response"
            }
          }
        },
        "tags": [
          "Apps"
        ]
      }
    },
    "/tables": {
      "post": {
        "description": "Creates a table in an application.",
        "summary": "Create a table",
        "operationId": "createTable",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "appId",
            "description": "The unique identifier of an app",
            "required": true,
            "in": "query",
            "type": "string"
          },
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {
              "$ref": "#/definitions/CreateTableRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "x-amf-mediaType": "application/json",
            "schema": {
              "$ref": "#/definitions/createTable200Response"
            }
          }
        },
        "tags": [
          "Tables"
        ]
      },
      "get": {
        "description": "Gets a list of all the tables that exist in a specific application. The properties for each table are the same as what is returned in Get table.",
        "operationId": "getAppTables",
        "summary": "Get tables for an app",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "appId",
            "description": "The unique identifier of an app",
            "required": true,
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "x-amf-mediaType": "application/json",
            "schema": {
              "$ref": "#/definitions/getAppTables200Response"
            }
          }
        },
        "tags": [
          "Tables"
        ]
      }
    },
    "/tables/{tableId}": {
      "get": {
        "description": "Gets the properties of an individual table that is part of an application.",
        "operationId": "getTable",
        "summary": "Get a table",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "appId",
            "description": "The unique identifier of an app",
            "required": true,
            "in": "query",
            "type": "string"
          },
          {
            "name": "tableId",
            "description": "The unique identifier (dbid) of the table.",
            "required": true,
            "in": "path",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "x-amf-mediaType": "application/json",
            "schema": {
              "$ref": "#/definitions/getTable200Response"
            }
          }
        },
        "tags": [
          "Tables"
        ]
      },
      "post": {
        "description": "Updates the main properties of a specific table. Any properties of the table that you do not specify in the request body will remain unchanged.",
        "summary": "Update a table",
        "operationId": "updateTable",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "appId",
            "description": "The unique identifier of an app",
            "required": true,
            "in": "query",
            "type": "string"
          },
          {
            "name": "tableId",
            "description": "The unique identifier (dbid) of the table.",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {
              "$ref": "#/definitions/UpdateTableRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "x-amf-mediaType": "application/json",
            "schema": {
              "$ref": "#/definitions/updateTable200Response"
            }
          }
        },
        "tags": [
          "Tables"
        ]
      },
      "delete": {
        "description": "Deletes a specific table in an application, including all of the data within it.",
        "operationId": "deleteTable",
        "summary": "Delete a table",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "appId",
            "description": "The unique identifier of an app",
            "required": true,
            "in": "query",
            "type": "string"
          },
          {
            "name": "tableId",
            "description": "The unique identifier (dbid) of the table.",
            "required": true,
            "in": "path",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "x-amf-mediaType": "application/json",
            "schema": {
              "$ref": "#/definitions/deleteTable200Response"
            }
          }
        },
        "tags": [
          "Tables"
        ]
      }
    },
    "/tables/{tableId}/relationships": {
      "get": {
        "description": "Get a list of all relationships, and their definitions, for a specific table. Details are provided for the child side of relationships within a given application. Limited details are returned for cross-application relationships.",
        "operationId": "getRelationships",
        "summary": "Get all relationships",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "skip",
            "description": "The number of relationships to skip.",
            "required": false,
            "in": "query",
            "type": "integer"
          },
          {
            "name": "tableId",
            "description": "The unique identifier (dbid) of the child table.",
            "required": true,
            "in": "path",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "x-amf-mediaType": "application/json",
            "schema": {
              "$ref": "#/definitions/getRelationships200Response"
            }
          }
        },
        "tags": [
          "Tables"
        ]
      }
    },
    "/tables/{tableId}/relationship": {
      "post": {
        "description": "Creates a relationship in a table as well as lookup/summary fields. Relationships can only be created for tables within the same app.",
        "summary": "Create a relationship",
        "operationId": "createRelationship",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "tableId",
            "description": "The unique identifier (dbid) of the table. This will be the child table.",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {
              "$ref": "#/definitions/CreateRelationshipRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "x-amf-mediaType": "application/json",
            "schema": {
              "$ref": "#/definitions/createRelationship200Response"
            }
          }
        },
        "tags": [
          "Tables"
        ]
      }
    },
    "/tables/{tableId}/relationship/{relationshipId}": {
      "post": {
        "description": "Use this endpoint to add lookup fields and summary fields to an existing relationship. Updating a relationship will not delete existing lookup/summary fields.",
        "summary": "Update a relationship",
        "operationId": "updateRelationship",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "tableId",
            "description": "The unique identifier (dbid) of the table. This will be the child table.",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "relationshipId",
            "description": "The relationship id. This is the field id of the reference field on the child table.",
            "required": true,
            "in": "path",
            "type": "number"
          },
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {
              "$ref": "#/definitions/UpdateRelationshipRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "x-amf-mediaType": "application/json",
            "schema": {
              "$ref": "#/definitions/updateRelationship200Response"
            }
          }
        },
        "tags": [
          "Tables"
        ]
      },
      "delete": {
        "description": "Use this endpoint to delete an entire relationship, including all lookup and summary fields. The reference field in the relationship will not be deleted.",
        "summary": "Delete a relationship",
        "operationId": "deleteRelationship",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "tableId",
            "description": "The unique identifier (dbid) of the table. This will be the child table.",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "relationshipId",
            "description": "The relationship id. This is the field id of the reference field on the child table.",
            "required": true,
            "in": "path",
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "x-amf-mediaType": "application/json",
            "schema": {
              "$ref": "#/definitions/deleteRelationship200Response"
            }
          }
        },
        "tags": [
          "Tables"
        ]
      }
    },
    "/reports": {
      "get": {
        "description": "Get the schema (properties) of all reports for a table. If the user running the API is an application administrator, the API will also return all personal reports with owner's user id.",
        "operationId": "getTableReports",
        "summary": "Get reports for a table",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "tableId",
            "description": "The unique identifier of the table.",
            "required": true,
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "x-amf-mediaType": "application/json",
            "schema": {
              "$ref": "#/definitions/getTableReports200Response"
            }
          }
        },
        "tags": [
          "Reports"
        ]
      }
    },
    "/reports/{reportId}": {
      "get": {
        "description": "Get the schema (properties) of an individual report.",
        "operationId": "getReport",
        "summary": "Get a report",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "tableId",
            "description": "The unique identifier of table.",
            "required": true,
            "in": "query",
            "type": "string"
          },
          {
            "name": "reportId",
            "description": "The identifier of the report, unique to the table.",
            "required": true,
            "in": "path",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "x-amf-mediaType": "application/json",
            "schema": {
              "$ref": "#/definitions/getReport200Response"
            }
          }
        },
        "tags": [
          "Reports"
        ]
      }
    },
    "/reports/{reportId}/run": {
      "post": {
        "description": "Runs a report, based on an ID and returns the underlying data associated with it. The format of the data will vary based on the report type. Reports that focus on record-level data (table, calendar, etc.) return the individual records. Aggregate reports (summary, chart) will return the summarized information as configured in the report. UI-specific elements are not returned, such as totals, averages and visualizations. Returns data with intelligent pagination based on the approximate size of each record. The metadata object will include the necessary information to iterate over the response and gather more data.",
        "summary": "Run a report",
        "operationId": "runReport",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "tableId",
            "description": "The identifier of the table for the report.",
            "required": true,
            "in": "query",
            "type": "string"
          },
          {
            "name": "skip",
            "description": "The number of records to skip. You can set this value when paginating through a set of results.",
            "required": false,
            "in": "query",
            "type": "integer"
          },
          {
            "name": "top",
            "description": "The maximum number of records to return. You can override the default Quickbase pagination to get more or fewer results. If your requested value here exceeds the dynamic maximums, we will return a subset of results and the rest can be gathered in subsequent API calls.",
            "required": false,
            "in": "query",
            "type": "integer"
          },
          {
            "name": "reportId",
            "description": "The identifier of the report, unique to the table.",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "x-amf-mediaType": "application/json",
            "schema": {
              "$ref": "#/definitions/runReport200Response"
            }
          }
        },
        "tags": [
          "Reports"
        ]
      }
    },
    "/fields": {
      "get": {
        "description": "Gets the properties for all fields in a specific table. The properties for each field are the same as in Get field.",
        "summary": "Get fields for a table",
        "operationId": "getFields",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "tableId",
            "description": "The unique identifier (dbid) of the table.",
            "required": true,
            "in": "query",
            "type": "string"
          },
          {
            "name": "includeFieldPerms",
            "description": "Set to 'true' if you'd like to get back the custom permissions for the field(s).",
            "required": false,
            "in": "query",
            "default": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "x-amf-mediaType": "application/json",
            "schema": {
              "$ref": "#/definitions/getFields200Response"
            }
          }
        },
        "tags": [
          "Fields"
        ]
      },
      "post": {
        "description": "Creates a field within a table, including the custom permissions of that field.",
        "summary": "Create a field",
        "operationId": "createField",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "tableId",
            "description": "The unique identifier of the table.",
            "required": true,
            "in": "query",
            "type": "string"
          },
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {
              "$ref": "#/definitions/CreateFieldRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "x-amf-mediaType": "application/json",
            "schema": {
              "$ref": "#/definitions/createField200Response"
            }
          }
        },
        "tags": [
          "Fields"
        ]
      },
      "delete": {
        "description": "Deletes one or many fields in a table, based on field id. This will also permanently delete any data or calculations in that field.",
        "summary": "Delete field(s)",
        "operationId": "deleteFields",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "tableId",
            "description": "The unique identifier of the table.",
            "required": true,
            "in": "query",
            "type": "string"
          },
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {
              "$ref": "#/definitions/DeleteFieldsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "x-amf-mediaType": "application/json",
            "schema": {
              "$ref": "#/definitions/deleteFields200Response"
            }
          }
        },
        "tags": [
          "Fields"
        ]
      }
    },
    "/fields/{fieldId}": {
      "get": {
        "description": "Gets the properties of an individual field, based on field id.  \nProperties present on all field types are returned at the top level. Properties unique to a specific type of field are returned under the 'properties' attribute. Please see [Field types page](../fieldInfo) for more details on the properties for each field type.",
        "summary": "Get field",
        "operationId": "getField",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "tableId",
            "description": "The unique identifier (dbid) of the table.",
            "required": true,
            "in": "query",
            "type": "string"
          },
          {
            "name": "includeFieldPerms",
            "description": "Set to 'true' if you'd like to get back the custom permissions for the field(s).",
            "required": false,
            "in": "query",
            "default": false,
            "type": "boolean"
          },
          {
            "name": "fieldId",
            "description": "The unique identifier (fid) of the field.",
            "required": true,
            "in": "path",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "x-amf-mediaType": "application/json",
            "schema": {
              "$ref": "#/definitions/getField200Response"
            }
          }
        },
        "tags": [
          "Fields"
        ]
      },
      "post": {
        "description": "Updates the properties and custom permissions of a field. The attempt to update certain properties might cause existing data to no longer obey the field’s new properties and may be rejected. See the descriptions of required, unique, and choices, below, for specific situations. Any properties of the field that you do not specify in the request body will remain unchanged.",
        "summary": "Update a field",
        "operationId": "updateField",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "tableId",
            "description": "The unique identifier of the table.",
            "required": true,
            "in": "query",
            "type": "string"
          },
          {
            "name": "fieldId",
            "description": "The unique identifier (fid) of the field.",
            "required": true,
            "in": "path",
            "type": "integer"
          },
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {
              "$ref": "#/definitions/UpdateFieldRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "x-amf-mediaType": "application/json",
            "schema": {
              "$ref": "#/definitions/updateField200Response"
            }
          }
        },
        "tags": [
          "Fields"
        ]
      }
    },
    "/fields/usage": {
      "get": {
        "description": "Get all the field usage statistics for a table. This is a summary of the information that can be found in the usage table of field properties.",
        "summary": "Get usage for all fields",
        "operationId": "getFieldsUsage",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "tableId",
            "description": "The unique identifier (dbid) of the table.",
            "required": true,
            "in": "query",
            "type": "string"
          },
          {
            "name": "skip",
            "description": "The number of fields to skip from the list.",
            "required": false,
            "in": "query",
            "type": "integer"
          },
          {
            "name": "top",
            "description": "The maximum number of fields to return.",
            "required": false,
            "in": "query",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "x-amf-mediaType": "application/json",
            "schema": {
              "$ref": "#/definitions/getFieldsUsage200Response"
            }
          }
        },
        "tags": [
          "Fields"
        ]
      }
    },
    "/fields/usage/{fieldId}": {
      "get": {
        "description": "Get a single fields usage statistics. This is a summary of the information that can be found in the usage table of field properties.",
        "summary": "Get usage for a field",
        "operationId": "getFieldUsage",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "tableId",
            "description": "The unique identifier (dbid) of the table.",
            "required": true,
            "in": "query",
            "type": "string"
          },
          {
            "name": "fieldId",
            "description": "The unique identifier (fid) of the field.",
            "required": true,
            "in": "path",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "x-amf-mediaType": "application/json",
            "schema": {
              "$ref": "#/definitions/getFieldUsage200Response"
            }
          }
        },
        "tags": [
          "Fields"
        ]
      }
    },
    "/formula/run": {
      "post": {
        "description": "Allows running a formula via an API call. Use this method in custom code to get the value back of a formula without a discrete field on a record.",
        "summary": "Run a formula",
        "operationId": "runFormula",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {
              "description": "The following example will execute a Sum() for '20' and the value in a record with id 1 for the field with label 'NumericField'. Since this API is able to run any type of formula, all results will be returned as a string.",
              "example": {
                "from": "bck7gp3q2",
                "formula": "Sum([NumericField],20)",
                "rid": 1
              },
              "type": "object",
              "additionalProperties": false,
              "required": [
                "formula",
                "from"
              ],
              "properties": {
                "formula": {
                  "description": "The formula to run. This must be a valid Quickbase formula.",
                  "type": "string"
                },
                "rid": {
                  "description": "The record ID to run the formula against. Only necessary for formulas that are run in the context of a record. For example, the formula User() does not need a record ID.",
                  "type": "integer"
                },
                "from": {
                  "description": "The unique identifier (dbid) of the table.",
                  "example": "bck7gp3q2",
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "x-amf-mediaType": "application/json",
            "schema": {
              "$ref": "#/definitions/runFormula200Response"
            }
          }
        },
        "tags": [
          "Formulas"
        ]
      }
    },
    "/records": {
      "post": {
        "description": "Insert and/or update record(s) in a table. In this single API call, inserts and updates can be submitted. Update can use the key field on the table, or any other supported unique field. Refer to the [Field types page](../fieldInfo) for more information about how each field type should be formatted. This operation allows for incremental processing of successful records, even when some of the records fail.  \n**Note:** This endpoint supports a maximum payload size of 40MB.",
        "summary": "Insert/Update record(s)",
        "operationId": "upsert",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {
              "$ref": "#/definitions/UpsertRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "x-amf-mediaType": "application/json",
            "schema": {
              "$ref": "#/definitions/upsert200Response"
            }
          },
          "207": {
            "description": "",
            "x-amf-mediaType": "application/json",
            "schema": {
              "$ref": "#/definitions/upsert207Response"
            }
          },
          "400": {
            "description": "",
            "x-amf-mediaType": "application/json",
            "schema": {
              "$ref": "#/definitions/upsert400Response"
            }
          }
        },
        "tags": [
          "Records"
        ]
      },
      "delete": {
        "description": "Deletes record(s) in a table based on a query. Alternatively, all records in the table can be deleted.",
        "summary": "Delete record(s)",
        "operationId": "deleteRecords",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {
              "$ref": "#/definitions/DeleteRecordsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful delete records response.",
            "x-amf-mediaType": "application/json",
            "schema": {
              "$ref": "#/definitions/deleteRecords200Response"
            }
          }
        },
        "tags": [
          "Records"
        ]
      }
    },
    "/records/query": {
      "post": {
        "description": "Pass in a query in the [Quickbase query language](https://help.quickbase.com/api-guide/componentsquery.html). Returns record data with [intelligent pagination](../pagination) based on the approximate size of each record. The metadata object will include the necessary information to iterate over the response and gather more data.",
        "summary": "Query for data",
        "operationId": "runQuery",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {
              "$ref": "#/definitions/RunQueryRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "x-amf-mediaType": "application/json",
            "schema": {
              "$ref": "#/definitions/runQuery200Response"
            }
          }
        },
        "tags": [
          "Records"
        ]
      }
    },
    "/auth/temporary/{dbid}": {
      "get": {
        "description": "Use this endpoint to get a temporary authorization token, scoped to either an app or a table. It can only be used inside of code pages for client-side authentication because it relies on the browser session. Learn more about [extending Quickbase](https://helpv2.quickbase.com/hc/en-us/articles/4570341709844-Extending-Quickbase). You can then use this token to make other API calls (see [authorization](../auth)).  This token expires in 5 minutes.",
        "summary": "Get a temporary token for a dbid",
        "operationId": "getTempTokenDBID",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "dbid",
            "description": "The unique identifier of an app or table.",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "qBAppToken",
            "description": "Your Quickbase app token",
            "required": false,
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "This token is used in the authorization header value (similar to the QB-USER-TOKEN), except it uses the QB-TEMP-TOKEN prefix header['Authorization'] = 'QB-TEMP-TOKEN {token}'",
            "x-amf-mediaType": "application/json",
            "schema": {
              "$ref": "#/definitions/getTempTokenDBID200Response"
            }
          }
        },
        "tags": [
          "Auth"
        ]
      }
    },
    "/auth/oauth/token": {
      "post": {
        "description": "Use this endpoint to exchange a SAML assertion for a Quickbase token following [RFC 8693](https://www.rfc-editor.org/rfc/rfc8693.html). Callers can choose to return a token compatible with SCIM, XML, or RESTful APIs. The token duration is determined by the [SAML timeout session time](https://helpv2.quickbase.com/hc/en-us/articles/4570410646420-SAML-assertion-example#:~:text=Setting%20SAML%20timeout%20session%20time). You must be able to create a SAML assertion in your code to use this endpoint. The SAML assertion is verified against the configuration on the realm. Learn more about about [SAML assertions](https://helpv2.quickbase.com/hc/en-us/articles/4570410646420-SAML-assertion-example).",
        "summary": "Exchange an SSO token",
        "operationId": "exchangeSsoToken",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {
              "example": {
                "grant_type": "urn:ietf:params:oauth:grant-type:token-exchange",
                "requested_token_type": "urn:quickbase:params:oauth:token-type:temp_ticket",
                "subject_token": "PHNhbWxwOlJlc3BvbnNlDQogICAgeG1sbnM6c2FtbHA9bjp...",
                "subject_token_type": "urn:ietf:params:oauth:token-type:saml2"
              },
              "type": "object",
              "additionalProperties": false,
              "required": [
                "grant_type",
                "subject_token",
                "subject_token_type",
                "requested_token_type"
              ],
              "properties": {
                "grant_type": {
                  "type": "string",
                  "description": "The value `urn:ietf:params:oauth:grant-type:token-exchange` indicates that a token exchange is being performed.",
                  "enum": [
                    "urn:ietf:params:oauth:grant-type:token-exchange"
                  ]
                },
                "requested_token_type": {
                  "type": "string",
                  "description": "An identifier for the type of the requested security token. For the RESTful API, use `urn:quickbase:params:oauth:token-type:temp_token`. For the XML or SCIM APIs use `urn:quickbase:params:oauth:token-type:temp_ticket`.",
                  "enum": [
                    "urn:quickbase:params:oauth:token-type:temp_ticket",
                    "urn:quickbase:params:oauth:token-type:temp_token"
                  ]
                },
                "subject_token": {
                  "type": "string",
                  "description": "A security token that represents the identity of the party on behalf of whom the request is being made. For SAML 2.0, the value should be a base64url-encoded SAML 2.0 assertion."
                },
                "subject_token_type": {
                  "type": "string",
                  "description": "An identifier that indicates the type of the security token in the `subject_token` parameter.",
                  "enum": [
                    "urn:ietf:params:oauth:token-type:saml2"
                  ]
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "x-amf-mediaType": "application/json",
            "schema": {
              "$ref": "#/definitions/exchangeSsoToken200Response"
            }
          }
        },
        "tags": [
          "Auth"
        ]
      }
    },
    "/usertoken/clone": {
      "post": {
        "description": "Clones the authenticated user token. All applications associated with that token are automatically associated with the new token.",
        "summary": "Clone a user token",
        "operationId": "cloneUserToken",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {
              "example": {
                "name": "My cloned user token",
                "description": "Cloned from user token A"
              },
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "name": {
                  "description": "The new name for the cloned user token.",
                  "type": "string"
                },
                "description": {
                  "description": "The description for the cloned user token.",
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "x-amf-mediaType": "application/json",
            "schema": {
              "$ref": "#/definitions/cloneUserToken200Response"
            }
          }
        },
        "tags": [
          "UserToken"
        ]
      }
    },
    "/usertoken/transfer": {
      "post": {
        "description": "Transfers the specified user token. Application associations will remain intact. For security, permissions must manually be reconciled.",
        "summary": "Transfer a user token",
        "operationId": "transferUserToken",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {
              "example": {
                "id": 17658,
                "from": "62341.tr3s",
                "to": "123456.ab1s"
              },
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "id": {
                  "type": "number",
                  "description": "The id of the user token to transfer"
                },
                "from": {
                  "type": "string",
                  "description": "The id of the user to transfer the user token from"
                },
                "to": {
                  "type": "string",
                  "description": "The id of the user to transfer the user token to"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "x-amf-mediaType": "application/json",
            "schema": {
              "$ref": "#/definitions/transferUserToken200Response"
            }
          }
        },
        "tags": [
          "UserToken"
        ]
      }
    },
    "/usertoken/deactivate": {
      "post": {
        "description": "Deactivates the authenticated user token. Once this is done, the user token must be reactivated in the user interface.",
        "summary": "Deactivate a user token",
        "operationId": "deactivateUserToken",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "x-amf-mediaType": "application/json",
            "schema": {
              "$ref": "#/definitions/deactivateUserToken200Response"
            }
          }
        },
        "tags": [
          "UserToken"
        ]
      }
    },
    "/usertoken": {
      "delete": {
        "description": "Deletes the authenticated user token. This is not reversible.",
        "summary": "Delete a user token",
        "operationId": "deleteUserToken",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "x-amf-mediaType": "application/json",
            "schema": {
              "$ref": "#/definitions/deleteUserToken200Response"
            }
          }
        },
        "tags": [
          "UserToken"
        ]
      }
    },
    "/files/{tableId}/{recordId}/{fieldId}/{versionNumber}": {
      "get": {
        "description": "Downloads the file attachment, with the file attachment content encoded in base64 format. The API response returns the file name in the `Content-Disposition` header. Meta-data about files can be retrieved from the /records and /reports endpoints, where applicable. Use those endpoints to get the necessary information to fetch files.",
        "summary": "Download file",
        "operationId": "downloadFile",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "tableId",
            "description": "The unique identifier of the table.",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "recordId",
            "description": "The unique identifier of the record.",
            "required": true,
            "in": "path",
            "type": "integer"
          },
          {
            "name": "fieldId",
            "description": "The unique identifier of the field.",
            "required": true,
            "in": "path",
            "type": "integer"
          },
          {
            "name": "versionNumber",
            "description": "The file attachment version number.",
            "required": true,
            "in": "path",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "x-amf-mediaType": "application/octet-stream",
            "schema": {
              "$ref": "#/definitions/downloadFile200Response"
            }
          }
        },
        "tags": [
          "Files"
        ]
      },
      "delete": {
        "description": "Deletes one file attachment version. Meta-data about files can be retrieved from the /records and /reports endpoints, where applicable. Use those endpoints to get the necessary information to delete file versions.",
        "summary": "Delete file",
        "operationId": "deleteFile",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "tableId",
            "description": "The unique identifier of the table.",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "recordId",
            "description": "The unique identifier of the record.",
            "required": true,
            "in": "path",
            "type": "integer"
          },
          {
            "name": "fieldId",
            "description": "The unique identifier of the field.",
            "required": true,
            "in": "path",
            "type": "integer"
          },
          {
            "name": "versionNumber",
            "description": "The file attachment version number.",
            "required": true,
            "in": "path",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully Deleted the File Attachment",
            "x-amf-mediaType": "application/json",
            "schema": {
              "$ref": "#/definitions/deleteFile200Response"
            }
          }
        },
        "tags": [
          "Files"
        ]
      }
    },
    "/users": {
      "post": {
        "description": "Get all users in an account or narrowed down list of users filtered by email(s). The returned users may be paginated depending on the user count. The count of the returned users may vary. When `nextPageToken` value in the response is not empty, that indicates that there are more results to be returned, you can use this value to get the next result set ('page').",
        "summary": "Get users",
        "operationId": "getUsers",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "accountId",
            "description": "The account id being used to get users. If no value is specified, the first account associated with the requesting user token is chosen.",
            "required": false,
            "in": "query",
            "type": "number"
          },
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {
              "$ref": "#/definitions/GetUsersRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "x-amf-mediaType": "application/json",
            "schema": {
              "$ref": "#/definitions/getUsers200Response"
            }
          }
        },
        "tags": [
          "Users"
        ]
      }
    },
    "/users/deny": {
      "put": {
        "description": "Denies users access to the realm but leaves them listed in groups they have been added to.",
        "summary": "Deny users",
        "operationId": "denyUsers",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "accountId",
            "description": "The account id being used to deny users. If no value is specified, the first account associated with the requesting user token is chosen.",
            "required": false,
            "in": "query",
            "type": "number"
          },
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {
              "$ref": "#/definitions/DenyUsersRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "x-amf-mediaType": "application/json",
            "schema": {
              "$ref": "#/definitions/denyUsers200Response"
            }
          }
        },
        "tags": [
          "Users"
        ]
      }
    },
    "/users/deny/{shouldDeleteFromGroups}": {
      "put": {
        "description": "Denies users access to the realm and allows you to remove them from groups.",
        "summary": "Deny and remove users from groups",
        "operationId": "denyUsersAndGroups",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "accountId",
            "description": "The account id being used to deny users. If no value is specified, the first account associated with the requesting user token is chosen.",
            "required": false,
            "in": "query",
            "type": "number"
          },
          {
            "name": "shouldDeleteFromGroups",
            "description": "Specifies if the users should also be removed from all groups.",
            "required": true,
            "in": "path",
            "type": "boolean"
          },
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {
              "$ref": "#/definitions/DenyUsersAndGroupsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "x-amf-mediaType": "application/json",
            "schema": {
              "$ref": "#/definitions/denyUsersAndGroups200Response"
            }
          }
        },
        "tags": [
          "Users"
        ]
      }
    },
    "/users/undeny": {
      "put": {
        "description": "Grants users that have previously been denied access to the realm.",
        "summary": "Undeny users",
        "operationId": "undenyUsers",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "accountId",
            "description": "The account id being used to undeny users. If no value is specified, the first account associated with the requesting user token is chosen.",
            "required": false,
            "in": "query",
            "type": "number"
          },
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {
              "$ref": "#/definitions/UndenyUsersRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "x-amf-mediaType": "application/json",
            "schema": {
              "$ref": "#/definitions/undenyUsers200Response"
            }
          }
        },
        "tags": [
          "Users"
        ]
      }
    },
    "/groups/{gid}/members": {
      "post": {
        "description": "Adds a list of users to a given group as members.",
        "summary": "Add members",
        "operationId": "addMembersToGroup",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "gid",
            "description": "This is the ID of the group being modified.",
            "required": true,
            "in": "path",
            "type": "number"
          },
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {
              "$ref": "#/definitions/AddMembersToGroupRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "x-amf-mediaType": "application/json",
            "schema": {
              "$ref": "#/definitions/addMembersToGroup200Response"
            }
          }
        },
        "tags": [
          "Users"
        ]
      },
      "delete": {
        "description": "Removes a list of members from a given group.",
        "summary": "Remove members",
        "operationId": "removeMembersFromGroup",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "gid",
            "description": "This is the ID of the group being modified.",
            "required": true,
            "in": "path",
            "type": "number"
          },
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {
              "$ref": "#/definitions/RemoveMembersFromGroupRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "x-amf-mediaType": "application/json",
            "schema": {
              "$ref": "#/definitions/removeMembersFromGroup200Response"
            }
          }
        },
        "tags": [
          "Users"
        ]
      }
    },
    "/groups/{gid}/managers": {
      "post": {
        "description": "Adds a list of users to a given group as managers.",
        "summary": "Add managers",
        "operationId": "addManagersToGroup",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "gid",
            "description": "This is the ID of the group being modified.",
            "required": true,
            "in": "path",
            "type": "number"
          },
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {
              "$ref": "#/definitions/AddManagersToGroupRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "x-amf-mediaType": "application/json",
            "schema": {
              "$ref": "#/definitions/addManagersToGroup200Response"
            }
          }
        },
        "tags": [
          "Users"
        ]
      },
      "delete": {
        "description": "Removes a list of managers from a given group.",
        "summary": "Remove managers",
        "operationId": "removeManagersFromGroup",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "gid",
            "description": "This is the ID of the group being modified.",
            "required": true,
            "in": "path",
            "type": "number"
          },
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {
              "$ref": "#/definitions/RemoveManagersFromGroupRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "x-amf-mediaType": "application/json",
            "schema": {
              "$ref": "#/definitions/removeManagersFromGroup200Response"
            }
          }
        },
        "tags": [
          "Users"
        ]
      }
    },
    "/groups/{gid}/subgroups": {
      "post": {
        "description": "Adds a list of groups to a given group.",
        "summary": "Add child groups",
        "operationId": "addSubgroupsToGroup",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "gid",
            "description": "This is the ID of the group being modified.",
            "required": true,
            "in": "path",
            "type": "number"
          },
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {
              "$ref": "#/definitions/AddSubgroupsToGroupRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "x-amf-mediaType": "application/json",
            "schema": {
              "$ref": "#/definitions/addSubgroupsToGroup200Response"
            }
          }
        },
        "tags": [
          "Users"
        ]
      },
      "delete": {
        "description": "Removes a list of groups from a given group.",
        "summary": "Remove child groups",
        "operationId": "removeSubgroupsFromGroup",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "gid",
            "description": "This is the ID of the group being modified.",
            "required": true,
            "in": "path",
            "type": "number"
          },
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {
              "$ref": "#/definitions/RemoveSubgroupsFromGroupRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "x-amf-mediaType": "application/json",
            "schema": {
              "$ref": "#/definitions/removeSubgroupsFromGroup200Response"
            }
          }
        },
        "tags": [
          "Users"
        ]
      }
    },
    "/audit": {
      "post": {
        "description": "Gathers the audit logs for a single day from a realm. By default, this API returns 10,000 entries. This can be changed with the numRows parameter. Integrators can iterate through batches to get an entire day's worth of logs. Each realm has a maximum entitlement of querying 1,000 days per year (allowing lookbacks for up to two years). Requests for paginated data do not count towards the annual limit. Transactional rate limits are 10 per 10 seconds.  \n**Note:** This API is available for enterprise users only.",
        "summary": "Get audit logs",
        "operationId": "audit",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {
              "example": {
                "date": "2022-05-20",
                "topics": [
                  "login",
                  "login_fail"
                ]
              },
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "nextToken": {
                  "description": "Token specifying start of page. For first page don't supply this.",
                  "example": "6a.f12x",
                  "type": "string"
                },
                "numRows": {
                  "description": "Number of logs to return per page, default is 10000, minimum is 1000, max is 50000.",
                  "example": 10000,
                  "type": "integer"
                },
                "queryId": {
                  "description": "The query id of an audit log request. This id is needed to fetch subsequent paged results of a single query.",
                  "example": "c41aa90e-0db6-4732-8e22-2ef80fe4092a",
                  "type": "string"
                },
                "date": {
                  "description": "The date for which audit logs need to be fetched. This must be date-time only, as YYYY-MM-DD, and a valid date in the past.",
                  "example": "2022-05-23",
                  "type": "string",
                  "format": "date"
                },
                "topics": {
                  "type": "array",
                  "maxItems": 20,
                  "description": "An array that may contain up to 20 [topics](https://resources.quickbase.com/nav/app/budurkasx/action/showpage/2b2941e4-f34d-4d41-9b0e-db790d20e9ab?pageIdV2=quickbase.com-DashboardGroup-15760d74-2243-4ce9-9495-7cc8790f12e7) to filter by. If empty, all topics are returned.",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Query ran successfully and has returned the events for the given time period.",
            "x-amf-mediaType": "application/json",
            "schema": {
              "$ref": "#/definitions/audit200Response"
            }
          },
          "202": {
            "description": "Query still being processed. Pass the queryId back to the API to check for results.",
            "x-amf-mediaType": "application/json",
            "schema": {
              "$ref": "#/definitions/audit202Response"
            }
          }
        },
        "tags": [
          "Audit"
        ]
      }
    },
    "/analytics/reads": {
      "get": {
        "description": "Get user read and integration read summaries for any day in the past.  \n**Note:** This API is available for enterprise users only.",
        "summary": "Get read summaries",
        "operationId": "platformAnalyticReads",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "day",
            "description": "The date for which read summaries need to be fetched. This must be date-time only, as YYYY-MM-DD, and a valid date in the past.",
            "required": false,
            "in": "query",
            "type": "string",
            "format": "date"
          }
        ],
        "responses": {
          "200": {
            "description": "Summaries returned succesfully",
            "x-amf-mediaType": "application/json",
            "schema": {
              "$ref": "#/definitions/platformAnalyticReads200Response"
            }
          }
        },
        "tags": [
          "Platform Analytics"
        ]
      }
    },
    "/analytics/events/summaries": {
      "post": {
        "tags": [
          "Platform Analytics"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID of the account to query. If no value is specified, the first account matching the provided domain is chosen.",
            "in": "query",
            "name": "accountId",
            "type": "number"
          },
          {
            "in": "body",
            "x-amf-mediaType": "application/json",
            "name": "generated",
            "schema": {
              "example": {
                "start": "2023-12-01T12:00:00.000-05:00",
                "end": "2023-12-31T12:00:00.000-05:00",
                "groupBy": "user",
                "nextToken": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJvZmZzZXQiOjEwMCwiaWF0IjoxNzA2NzE1OTI3LCJleHAiOjE3MDY4MDIzMjd9.aWGZCv5vJIai0Dw6sVcQ9FT70PHcqWcqP9sGdKBJeco",
                "where": [
                  {
                    "id": "58351651.xc1",
                    "type": "user"
                  },
                  {
                    "id": "bpqe82s1",
                    "type": "app"
                  }
                ]
              },
              "properties": {
                "start": {
                  "description": "The start date and time of the requested summaries in ISO 8601 time format.",
                  "format": "date-time",
                  "type": "string"
                },
                "end": {
                  "description": "The end date and time of the requested summaries in ISO 8601 time format.",
                  "format": "date-time",
                  "type": "string"
                },
                "groupBy": {
                  "description": "How the events should be grouped.",
                  "enum": [
                    "app",
                    "user"
                  ],
                  "type": "string"
                },
                "nextToken": {
                  "description": "A pagination token from a previous response. Used to fetch the next page.",
                  "type": "string"
                },
                "where": {
                  "description": "A list of items to filter events by. Only events which match ALL criteria will be included in the results.",
                  "items": {
                    "properties": {
                      "id": {
                        "description": "Id of the item to filter by - the hash uid if filtering a user, or the app id if filtering an app.",
                        "type": "string"
                      },
                      "type": {
                        "description": "The type of item to filter by.",
                        "enum": [
                          "app",
                          "user"
                        ],
                        "type": "string"
                      }
                    },
                    "required": [
                      "id",
                      "type"
                    ],
                    "type": "object"
                  },
                  "maxItems": 10,
                  "type": "array"
                }
              },
              "required": [
                "start",
                "end",
                "groupBy"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Event summaries returned succesfully",
            "schema": {
              "$ref": "#/definitions/platformAnalyticEventSummaries200Response"
            }
          }
        },
        "description": "Get event summaries for any span of days up to one year and excluding future dates.  \n**Note:** This API is available for enterprise users only. Data is updated hourly; to ensure accuracy, query dates should be at least one hour in the past. Transactional rate limits are 100 per hour.",
        "operationId": "platformAnalyticEventSummaries",
        "summary": "Get event summaries"
      }
    },
    "/solutions/{solutionId}": {
      "get": {
        "description": "Returns the QBL for the specified solution. Learn more about [QBL syntax](https://help.quickbase.com/hc/en-us/articles/24845511223828-What-is-QBL).  \n We are releasing schema coverage for QBL in stages. See [what's supported today](https://helpv2.quickbase.com/hc/en-us/articles/30119680754068-QBL-version-0-4-overview) in our QBL documentation.",
        "summary": "Export a solution",
        "operationId": "exportSolution",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/x-yaml"
        ],
        "parameters": [
          {
            "name": "solutionId",
            "description": "The unique identifier of a solution",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "qBLVersion",
            "description": "The QBL version to be used for the export. If not specified the default would be used.",
            "required": false,
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "x-amf-mediaType": "application/x-yaml",
            "schema": {
              "$ref": "#/definitions/exportSolution200Response"
            }
          },
          "400": {
            "description": "Bad request. For example: Missing required headers, Missing required parameters, Malformed QBL and others. Message should provide more information, reach out to support if there’s lack of clarity.",
            "x-amf-mediaType": "application/json",
            "schema": {
              "$ref": "#/definitions/exportSolution400Response"
            }
          },
          "404": {
            "description": "Solution does not exist. The supplied solution ID was not found.",
            "x-amf-mediaType": "application/json",
            "schema": {
              "$ref": "#/definitions/exportSolution404Response"
            }
          },
          "401/403": {
            "description": "Insufficient access. This could be for many reasons such as: User doesn’t have SolutionHub access, User is not the owner or a contributor for the solution, User cannot create apps and others.  Message should provide more information.",
            "x-amf-mediaType": "application/json",
            "schema": {
              "$ref": "#/definitions/exportSolution401_403Response"
            }
          },
          "4xx/5xx": {
            "description": "Non-common error, reach out to support if there’s lack of clarity.",
            "x-amf-mediaType": "application/json",
            "schema": {
              "$ref": "#/definitions/exportSolution4xx_5xxResponse"
            }
          }
        },
        "tags": [
          "Solutions"
        ]
      },
      "put": {
        "description": "Updates the solution using the provided QBL. Learn more about [QBL syntax](https://help.quickbase.com/hc/en-us/articles/24845511223828-What-is-QBL).  \n We are releasing schema coverage for QBL in stages. See [what's supported today](https://helpv2.quickbase.com/hc/en-us/articles/30119680754068-QBL-version-0-4-overview) in our QBL documentation.",
        "summary": "Update a solution",
        "operationId": "updateSolution",
        "consumes": [
          "application/x-yaml"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "solutionId",
            "description": "The unique identifier of a solution",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "generated",
            "description": "The QBL to be used for the update.",
            "x-amf-mediaType": "application/x-yaml",
            "in": "body",
            "schema": {
              "example": "Version: 0.2\nResources:\n  $App_Example_app:\n    Type: QB::Application\n    Properties:\n      Name: Example app\n      Description: \n      AppColor: '#72509a'\n      Manager: manager@yourrealm.com\n      TableOrder: []\n      AppIcon: Application\n      CurrencySymbol: $\n      FiscalYearDesignation: Last\n      FirstDayOfWeek: Sun\n      DateFormat: MM-DD-YYYY\n      FirstMonthOfFiscalYear: Jan\n      CurrencySymbolPosition: Between\n      NumberFormat:\n        SeparatorStyle: CommaGroupingPeriodDecimal\n        SeparatorPlaces: none\n      DefaultViewMode: Auto\n      HideNewUpdatedIcons: false\n      DisableAllUsersSelection: false\n      CanCopyApp: Admin\n      CanExportData: Everyone\n      Searchable: false\n      RequireAppToken: true\n      ShowPerformanceBar: false\n      ShowPerformanceAnalyzer: false\n      GlobalSearchExactMatch: false\n      Utf8DataEncoding: false\n      Timezone: Default\n      Branding:\n        AppHeader:\n          HideQuickbaseStandardMenu: false\n        AppFooter: {}\n      RoleOrder:\n        - !Ref\n          Role: $Role_Viewer\n        - !Ref\n          Role: $Role_Participant\n        - !Ref\n          Role: $Role_Administrator\n    Roles:\n      $Role_Viewer:\n        Type: QB::Application::Role\n        Properties:\n          Name: Viewer\n          Description: \n          Default: false\n          ManageUsers: false\n          EditApp: false\n          DisableAccess: false\n          AppUI:\n            HideSettings: false\n            HideUsers: false\n            HideFavorites: false\n            HideSearch: false\n            HideHelp: false\n            HideTestAs: false\n          TableUI:\n            Global:\n              HideInBar: false\n              HideNewRecord: false\n              HideGridEdit: false\n              HideEmail: false\n              HidePrint: false\n              HideImportExport: false\n              HideSaveSpreadsheet: false\n              HideCreateCustomizeReport: false\n              HidePersonalSettings: false\n      $Role_Participant:\n        Type: QB::Application::Role\n        Properties:\n          Name: Participant\n          Description: \n          Default: true\n          ManageUsers: true\n          EditApp: false\n          DisableAccess: false\n          AppUI:\n            HideSettings: false\n            HideUsers: false\n            HideFavorites: false\n            HideSearch: false\n            HideHelp: false\n            HideTestAs: false\n          TableUI:\n            Global:\n              HideInBar: false\n              HideNewRecord: false\n              HideGridEdit: false\n              HideEmail: false\n              HidePrint: false\n              HideImportExport: false\n              HideSaveSpreadsheet: false\n              HideCreateCustomizeReport: false\n              HidePersonalSettings: false\n      $Role_Administrator:\n        Type: QB::Application::Role\n        Properties:\n          Name: Administrator\n          Description: \n          Default: false\n          ManageUsers: true\n          EditApp: true\n          DisableAccess: false\n          AppUI:\n            HideSettings: false\n            HideUsers: false\n            HideFavorites: false\n            HideSearch: false\n            HideHelp: false\n            HideTestAs: false\n          TableUI:\n            Global:\n              HideInBar: false\n              HideNewRecord: false\n              HideGridEdit: false\n              HideEmail: false\n              HidePrint: false\n              HideImportExport: false\n              HideSaveSpreadsheet: false\n              HideCreateCustomizeReport: false\n              HidePersonalSettings: false"
            }
          },
          {
            "name": "xQBLErrorsAsSuccess",
            "description": "If this header is set to true, the API will return a 207 status code even if there are errors. The errors will be returned in the response body.",
            "required": false,
            "in": "header",
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "x-amf-mediaType": "application/json",
            "schema": {
              "$ref": "#/definitions/updateSolution200Response"
            }
          },
          "400": {
            "description": "Bad request. For example: Missing required headers, Missing required parameters, Malformed QBL and others. Message should provide more information, reach out to support if there’s lack of clarity.",
            "x-amf-mediaType": "application/json",
            "schema": {
              "$ref": "#/definitions/updateSolution400Response"
            }
          },
          "401/403": {
            "description": "Insufficient access. This could be for many reasons such as: User doesn’t have SolutionHub access, User is not the owner or a contributor for the solution, User cannot create apps and others.  Message should provide more information.",
            "x-amf-mediaType": "application/json",
            "schema": {
              "$ref": "#/definitions/updateSolution401_403Response"
            }
          },
          "4xx/5xx": {
            "description": "Non-common error, reach out to support if there’s lack of clarity.",
            "x-amf-mediaType": "application/json",
            "schema": {
              "$ref": "#/definitions/updateSolution4xx_5xxResponse"
            }
          }
        },
        "tags": [
          "Solutions"
        ]
      }
    },
    "/solutions": {
      "post": {
        "description": "Creates a solution using the provided QBL. Learn more about [QBL syntax](https://help.quickbase.com/hc/en-us/articles/24845511223828-What-is-QBL).  \n We are releasing schema coverage for QBL in stages. See [what's supported today](https://helpv2.quickbase.com/hc/en-us/articles/30119680754068-QBL-version-0-4-overview) in our QBL documentation.",
        "summary": "Create a solution",
        "operationId": "createSolution",
        "consumes": [
          "application/x-yaml"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "generated",
            "description": "The QBL to be used for the create.",
            "x-amf-mediaType": "application/x-yaml",
            "in": "body",
            "schema": {
              "example": "Version: 0.2\nResources:\n  $App_Example_app:\n    Type: QB::Application\n    Properties:\n      Name: Example app\n      Description: \n      AppColor: '#72509a'\n      Manager: manager@yourrealm.com\n      TableOrder: []\n      AppIcon: Application\n      CurrencySymbol: $\n      FiscalYearDesignation: Last\n      FirstDayOfWeek: Sun\n      DateFormat: MM-DD-YYYY\n      FirstMonthOfFiscalYear: Jan\n      CurrencySymbolPosition: Between\n      NumberFormat:\n        SeparatorStyle: CommaGroupingPeriodDecimal\n        SeparatorPlaces: none\n      DefaultViewMode: Auto\n      HideNewUpdatedIcons: false\n      DisableAllUsersSelection: false\n      CanCopyApp: Admin\n      CanExportData: Everyone\n      Searchable: false\n      RequireAppToken: true\n      ShowPerformanceBar: false\n      ShowPerformanceAnalyzer: false\n      GlobalSearchExactMatch: false\n      Utf8DataEncoding: false\n      Timezone: Default\n      Branding:\n        AppHeader:\n          HideQuickbaseStandardMenu: false\n        AppFooter: {}\n      RoleOrder:\n        - !Ref\n          Role: $Role_Viewer\n        - !Ref\n          Role: $Role_Participant\n        - !Ref\n          Role: $Role_Administrator\n    Roles:\n      $Role_Viewer:\n        Type: QB::Application::Role\n        Properties:\n          Name: Viewer\n          Description: \n          Default: false\n          ManageUsers: false\n          EditApp: false\n          DisableAccess: false\n          AppUI:\n            HideSettings: false\n            HideUsers: false\n            HideFavorites: false\n            HideSearch: false\n            HideHelp: false\n            HideTestAs: false\n          TableUI:\n            Global:\n              HideInBar: false\n              HideNewRecord: false\n              HideGridEdit: false\n              HideEmail: false\n              HidePrint: false\n              HideImportExport: false\n              HideSaveSpreadsheet: false\n              HideCreateCustomizeReport: false\n              HidePersonalSettings: false\n      $Role_Participant:\n        Type: QB::Application::Role\n        Properties:\n          Name: Participant\n          Description: \n          Default: true\n          ManageUsers: true\n          EditApp: false\n          DisableAccess: false\n          AppUI:\n            HideSettings: false\n            HideUsers: false\n            HideFavorites: false\n            HideSearch: false\n            HideHelp: false\n            HideTestAs: false\n          TableUI:\n            Global:\n              HideInBar: false\n              HideNewRecord: false\n              HideGridEdit: false\n              HideEmail: false\n              HidePrint: false\n              HideImportExport: false\n              HideSaveSpreadsheet: false\n              HideCreateCustomizeReport: false\n              HidePersonalSettings: false\n      $Role_Administrator:\n        Type: QB::Application::Role\n        Properties:\n          Name: Administrator\n          Description: \n          Default: false\n          ManageUsers: true\n          EditApp: true\n          DisableAccess: false\n          AppUI:\n            HideSettings: false\n            HideUsers: false\n            HideFavorites: false\n            HideSearch: false\n            HideHelp: false\n            HideTestAs: false\n          TableUI:\n            Global:\n              HideInBar: false\n              HideNewRecord: false\n              HideGridEdit: false\n              HideEmail: false\n              HidePrint: false\n              HideImportExport: false\n              HideSaveSpreadsheet: false\n              HideCreateCustomizeReport: false\n              HidePersonalSettings: false"
            }
          },
          {
            "name": "xQBLErrorsAsSuccess",
            "description": "If this header is set to true, the API will return a 207 status code even if there are errors. The errors will be returned in the response body.",
            "required": false,
            "in": "header",
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "x-amf-mediaType": "application/json",
            "schema": {
              "$ref": "#/definitions/createSolution200Response"
            }
          },
          "400": {
            "description": "Bad request. For example: Missing required headers, Missing required parameters, Malformed QBL and others. Message should provide more information, reach out to support if there’s lack of clarity.",
            "x-amf-mediaType": "application/json",
            "schema": {
              "$ref": "#/definitions/createSolution400Response"
            }
          },
          "401/403": {
            "description": "Insufficient access. This could be for many reasons such as: User doesn’t have SolutionHub access, User is not the owner or a contributor for the solution, User cannot create apps and others.  Message should provide more information.",
            "x-amf-mediaType": "application/json",
            "schema": {
              "$ref": "#/definitions/createSolution401_403Response"
            }
          },
          "4xx/5xx": {
            "description": "Non-common error, reach out to support if there’s lack of clarity.",
            "x-amf-mediaType": "application/json",
            "schema": {
              "$ref": "#/definitions/createSolution4xx_5xxResponse"
            }
          }
        },
        "tags": [
          "Solutions"
        ]
      }
    },
    "/solutions/{solutionId}/torecord": {
      "get": {
        "description": "Exports the solution and outputs the resulting QBL in a new record in the specified table. The QBL will be saved to a file in the file attachment field that is specified. The table cannot have any required fields besides the file attachment field.  \n We are releasing schema coverage for QBL in stages. See [what's supported today](https://helpv2.quickbase.com/hc/en-us/articles/30119680754068-QBL-version-0-4-overview) in our QBL documentation.",
        "summary": "Export solution to record",
        "operationId": "exportSolutionToRecord",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "solutionId",
            "description": "The unique identifier of the solution.",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "tableId",
            "description": "The unique identifier (dbid) of the table.",
            "required": true,
            "in": "query",
            "type": "string"
          },
          {
            "name": "fieldId",
            "description": "The unique identifier (fid) of the field. It needs to be a file attachment field.",
            "required": true,
            "in": "query",
            "type": "int"
          },
          {
            "name": "xQBLErrorsAsSuccess",
            "description": "If this header is set to true, the API will return a 207 status code even if there are errors. The errors will be returned in the response body.",
            "required": false,
            "in": "header",
            "type": "boolean"
          },
          {
            "name": "qBLVersion",
            "description": "The QBL version to be used for the export. If not specified the default would be used.",
            "required": false,
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "x-amf-mediaType": "application/json",
            "schema": {
              "$ref": "#/definitions/exportSolutionToRecord200Response"
            }
          },
          "400": {
            "description": "Bad request. For example: Missing required headers, Missing required parameters, Malformed QBL and others. Message should provide more information, reach out to support if there’s lack of clarity.",
            "x-amf-mediaType": "application/json",
            "schema": {
              "$ref": "#/definitions/exportSolutionToRecord400Response"
            }
          },
          "404": {
            "description": "A resource is missing. For example: The supplied solution or field does not exist.",
            "x-amf-mediaType": "application/json",
            "schema": {
              "$ref": "#/definitions/exportSolutionToRecord404Response"
            }
          },
          "401/403": {
            "description": "Insufficient access. This could be for many reasons such as: User doesn’t have SolutionHub access, User is not the owner or a contributor for the solution, User cannot create apps and others.  Message should provide more information.",
            "x-amf-mediaType": "application/json",
            "schema": {
              "$ref": "#/definitions/exportSolutionToRecord401_403Response"
            }
          },
          "4xx/5xx": {
            "description": "Non-common error, reach out to support if there’s lack of clarity.",
            "x-amf-mediaType": "application/json",
            "schema": {
              "$ref": "#/definitions/exportSolutionToRecord4xx_5xxResponse"
            }
          }
        },
        "tags": [
          "Solutions"
        ]
      }
    },
    "/solutions/fromrecord": {
      "get": {
        "description": "Creates a solution using the QBL from the specified record.  \n We are releasing schema coverage for QBL in stages. See [what's supported today](https://helpv2.quickbase.com/hc/en-us/articles/30119680754068-QBL-version-0-4-overview) in our QBL documentation.",
        "summary": "Create solution from record",
        "operationId": "createSolutionFromRecord",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "tableId",
            "description": "The unique identifier (dbid) of the table.",
            "required": true,
            "in": "query",
            "type": "string"
          },
          {
            "name": "fieldId",
            "description": "The unique identifier (fid) of the field. It needs to be a file attachment field.",
            "required": true,
            "in": "query",
            "type": "int"
          },
          {
            "name": "recordId",
            "description": "The unique identifier of the record.",
            "required": true,
            "in": "query",
            "type": "int"
          },
          {
            "name": "xQBLErrorsAsSuccess",
            "description": "If this header is set to true, the API will return a 207 status code even if there are errors. The errors will be returned in the response body.",
            "required": false,
            "in": "header",
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "x-amf-mediaType": "application/json",
            "schema": {
              "$ref": "#/definitions/createSolutionFromRecord200Response"
            }
          },
          "400": {
            "description": "Bad request. For example: Missing required headers, Missing required parameters, Malformed QBL and others. Message should provide more information, reach out to support if there’s lack of clarity.",
            "x-amf-mediaType": "application/json",
            "schema": {
              "$ref": "#/definitions/createSolutionFromRecord400Response"
            }
          },
          "404": {
            "description": "A resource is missing. For example: The supplied solution, field or record does not exist.",
            "x-amf-mediaType": "application/json",
            "schema": {
              "$ref": "#/definitions/createSolutionFromRecord404Response"
            }
          },
          "401/403": {
            "description": "Insufficient access. This could be for many reasons such as: User doesn’t have SolutionHub access, User is not the owner or a contributor for the solution, User cannot create apps and others.  Message should provide more information.",
            "x-amf-mediaType": "application/json",
            "schema": {
              "$ref": "#/definitions/createSolutionFromRecord401_403Response"
            }
          },
          "4xx/5xx": {
            "description": "Non-common error, reach out to support if there’s lack of clarity.",
            "x-amf-mediaType": "application/json",
            "schema": {
              "$ref": "#/definitions/createSolutionFromRecord4xx_5xxResponse"
            }
          }
        },
        "tags": [
          "Solutions"
        ]
      }
    },
    "/solutions/{solutionId}/fromrecord": {
      "get": {
        "description": "Updates a solution using the QBL from the specified record.  \n We are releasing schema coverage for QBL in stages. See [what's supported today](https://helpv2.quickbase.com/hc/en-us/articles/30119680754068-QBL-version-0-4-overview) in our QBL documentation.",
        "summary": "Update solution from record",
        "operationId": "updateSolutionToRecord",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "solutionId",
            "description": "The unique identifier of the solution.",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "tableId",
            "description": "The unique identifier (dbid) of the table.",
            "required": true,
            "in": "query",
            "type": "string"
          },
          {
            "name": "fieldId",
            "description": "The unique identifier (fid) of the field. It needs to be a file attachment field.",
            "required": true,
            "in": "query",
            "type": "int"
          },
          {
            "name": "recordId",
            "description": "The unique identifier of the record.",
            "required": true,
            "in": "query",
            "type": "int"
          },
          {
            "name": "xQBLErrorsAsSuccess",
            "description": "If this header is set to true, the API will return a 207 status code even if there are errors. The errors will be returned in the response body.",
            "required": false,
            "in": "header",
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "x-amf-mediaType": "application/json",
            "schema": {
              "$ref": "#/definitions/updateSolutionToRecord200Response"
            }
          },
          "400": {
            "description": "Bad request. For example: Missing required headers, Missing required parameters, Malformed QBL and others. Message should provide more information, reach out to support if there’s lack of clarity.",
            "x-amf-mediaType": "application/json",
            "schema": {
              "$ref": "#/definitions/updateSolutionToRecord400Response"
            }
          },
          "404": {
            "description": "A resource is missing. For example: The supplied solution, field or record does not exist.",
            "x-amf-mediaType": "application/json",
            "schema": {
              "$ref": "#/definitions/updateSolutionToRecord404Response"
            }
          },
          "401/403": {
            "description": "Insufficient access. This could be for many reasons such as: User doesn’t have SolutionHub access, User is not the owner or a contributor for the solution, User cannot create apps and others.  Message should provide more information.",
            "x-amf-mediaType": "application/json",
            "schema": {
              "$ref": "#/definitions/updateSolutionToRecord401_403Response"
            }
          },
          "4xx/5xx": {
            "description": "Non-common error, reach out to support if there’s lack of clarity.",
            "x-amf-mediaType": "application/json",
            "schema": {
              "$ref": "#/definitions/updateSolutionToRecord4xx_5xxResponse"
            }
          }
        },
        "tags": [
          "Solutions"
        ]
      }
    },
    "/solutions/{solutionId}/changeset": {
      "put": {
        "description": "Returns a list of changes that would occur if the provided QBL were to be applied. Learn more about [QBL syntax](https://help.quickbase.com/hc/en-us/articles/24845511223828-What-is-QBL).  \n We are releasing schema coverage for QBL in stages. See [what's supported today](https://helpv2.quickbase.com/hc/en-us/articles/30119680754068-QBL-version-0-4-overview) in our QBL documentation.",
        "summary": "List solution changes",
        "operationId": "changesetSolution",
        "consumes": [
          "application/x-yaml"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "solutionId",
            "description": "The unique identifier of the solution.",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "generated",
            "description": "The QBL to be used for the changeset.",
[...]
