{
  "swagger": "2.0",
  "info": {
    "title": "Quick Base API",
    "version": "1.0.0"
  },
  "host": "api.quickbase.com/v1",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "paths": {
    "/apps": {
      "post": {
        "operationId": "createApp",
        "summary": "Create a new application",
        "tags": [
          "Apps"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateAppRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success - application created",
            "schema": {
              "$ref": "#/definitions/CreateApp200Response"
            }
          }
        }
      }
    },
    "/apps/{appId}": {
      "get": {
        "operationId": "getApp",
        "summary": "Get an app by ID",
        "tags": [
          "Apps"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The application identifier."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/App"
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteApp",
        "summary": "Delete an application by ID",
        "tags": [
          "Apps"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The unique identifier of the app to delete."
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteAppRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success - application deleted",
            "schema": {
              "$ref": "#/definitions/DeleteApp200Response"
            }
          }
        }
      }
    },
    "/apps/{appId}/events": {
      "get": {
        "operationId": "getAppEvents",
        "summary": "Get all events for an application",
        "description": "Retrieves a list of all events (e.g., webhooks, actions, automations) associated with the specified application.",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The unique identifier of an app"
          }
        ],
        "responses": {
          "200": {
            "description": "Success - list of app events retrieved",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AppEvent"
              }
            }
          }
        }
      }
    },
    "/apps/{appId}/copy": {
      "post": {
        "operationId": "copyApp",
        "summary": "Copy an existing application",
        "tags": [
          "Apps"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The unique identifier of the app to copy."
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CopyAppRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success - application copied",
            "schema": {
              "$ref": "#/definitions/CopyApp200Response"
            }
          }
        }
      }
    },
    "/tables": {
      "get": {
        "operationId": "getAppTables",
        "summary": "Get all tables for an app",
        "tags": [
          "Tables"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The application identifier."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Table"
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createTable",
        "summary": "Create a new table in an app",
        "tags": [
          "Tables"
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The unique identifier of the app where the table will be created."
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "The name of the table."
                },
                "description": {
                  "type": "string",
                  "description": "The description of the table."
                },
                "singleRecordName": {
                  "type": "string",
                  "description": "Singular noun for records."
                },
                "pluralRecordName": {
                  "type": "string",
                  "description": "Plural noun for records."
                }
              },
              "required": [
                "name"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success - table created",
            "schema": {
              "$ref": "#/definitions/Table"
            }
          }
        }
      }
    },
    "/tables/{tableId}": {
      "get": {
        "operationId": "getTable",
        "summary": "Get a table by ID",
        "tags": [
          "Tables"
        ],
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The table identifier (dbid)."
          },
          {
            "name": "appId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The unique identifier of the app containing the table."
          }
        ],
        "responses": {
          "200": {
            "description": "Success - table retrieved",
            "schema": {
              "$ref": "#/definitions/Table"
            }
          }
        }
      },
      "post": {
        "operationId": "updateTable",
        "summary": "Update a table by ID",
        "tags": [
          "Tables"
        ],
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The table identifier (dbid)."
          },
          {
            "name": "appId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The unique identifier of the app containing the table."
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateTableRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success - table updated",
            "schema": {
              "$ref": "#/definitions/Table"
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteTable",
        "summary": "Delete a table by ID",
        "tags": [
          "Tables"
        ],
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The table identifier (dbid)."
          },
          {
            "name": "appId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The unique identifier of the app containing the table."
          }
        ],
        "responses": {
          "200": {
            "description": "Success - table deleted",
            "schema": {
              "$ref": "#/definitions/DeleteTableResponse"
            }
          }
        }
      }
    },
    "/tables/{tableId}/relationships": {
      "get": {
        "operationId": "getRelationships",
        "summary": "Get relationships for a table",
        "tags": [
          "Relationships"
        ],
        "parameters": [
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The unique identifier (dbid) of the child table."
          },
          {
            "name": "skip",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "The number of relationships to skip."
          }
        ],
        "responses": {
          "200": {
            "description": "Success - relationships retrieved",
            "schema": {
              "$ref": "#/definitions/GetRelationships200Response"
            }
          }
        }
      }
    },
    "/tables/{tableId}/relationship": {
      "post": {
        "description": "Creates a relationship in a table as well as lookup/summary fields. Relationships can only be created for tables within the same app.",
        "summary": "Create a relationship",
        "operationId": "createRelationship",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "tableId",
            "description": "The unique identifier (dbid) of the table. This will be the child table.",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {
              "example": {
                "parentTableId": "bck7gp3q2",
                "foreignKeyField": {
                  "label": "my relationship field"
                },
                "lookupFieldIds": [
                  1,
                  2,
                  3
                ],
                "summaryFields": [
                  {
                    "summaryFid": 3,
                    "label": "my first summary field",
                    "accumulationType": "AVG",
                    "where": "{'3'.EX.1}"
                  },
                  {
                    "summaryFid": 4,
                    "label": "my second summary field",
                    "accumulationType": "SUM"
                  }
                ]
              },
              "type": "object",
              "additionalProperties": false,
              "required": [
                "parentTableId"
              ],
              "properties": {
                "summaryFields": {
                  "description": "Array of summary field objects which will turn into summary fields in the parent table. When you specify the 'COUNT' accumulation type, you have to specify 0 as the summaryFid (or not set it in the request). 'DISTINCT-COUNT' requires that summaryFid be set to an actual fid.",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": true,
                    "required": [
                      "accumulationType"
                    ],
                    "properties": {
                      "summaryFid": {
                        "description": "The field id to summarize.",
                        "type": "number"
                      },
                      "label": {
                        "description": "The label for the summary field.",
                        "type": "string"
                      },
                      "accumulationType": {
                        "description": "The accumulation type for the summary field.",
                        "enum": [
                          "AVG",
                          "SUM",
                          "MAX",
                          "MIN",
                          "STD-DEV",
                          "COUNT",
                          "COMBINED-TEXT",
                          "COMBINED-USER",
                          "DISTINCT-COUNT"
                        ],
                        "type": "string"
                      },
                      "where": {
                        "description": "The filter, using the Quickbase query language, which determines the records to return.",
                        "type": "string"
                      }
                    }
                  }
                },
                "lookupFieldIds": {
                  "description": "Array of field ids in the parent table that will become lookup fields in the child table.",
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                },
                "parentTableId": {
                  "description": "The parent table id for the relationship.",
                  "type": "string"
                },
                "foreignKeyField": {
                  "description": "This property is optional.  If it is not provided, the foreign key field will be created with the label ‘Related <record>’, where <record> is the name of a record in the parent table.",
                  "type": "object",
                  "additionalProperties": true,
                  "properties": {
                    "label": {
                      "description": "The label for the foreign key field.",
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "x-amf-mediaType": "application/json",
            "schema": {
              "example": {
                "id": 6,
                "foreignKeyField": {
                  "id": 6,
                  "label": "Related record",
                  "type": "numeric"
                },
                "lookupFields": [
                  {
                    "id": 7,
                    "label": "record - text field",
                    "type": "text"
                  }
                ],
                "isCrossApp": false,
                "parentTableId": "bck7gp3q2",
                "childTableId": "bck7gp3q3",
                "summaryFields": [
                  {
                    "id": 8,
                    "label": "Summary of Record ID#2",
                    "type": "numeric"
                  }
                ]
              },
              "type": "object",
              "additionalProperties": true,
              "required": [
                "id",
                "parentTableId",
                "childTableId",
                "isCrossApp"
              ],
              "properties": {
                "id": {
                  "description": "The relationship id (foreign key field id).",
                  "type": "integer"
                },
                "parentTableId": {
                  "description": "The parent table id of the relationship.",
                  "type": "string"
                },
                "childTableId": {
                  "description": "The child table id of the relationship.",
                  "type": "string"
                },
                "foreignKeyField": {
                  "description": "The foreign key field information.",
                  "type": "object",
                  "additionalProperties": true,
                  "properties": {
                    "id": {
                      "description": "Field id.",
                      "type": "integer"
                    },
                    "label": {
                      "description": "Field label.",
                      "type": "string"
                    },
                    "type": {
                      "description": "Field type.",
                      "type": "string"
                    }
                  }
                },
                "isCrossApp": {
                  "description": "Whether this is a cross-app relationship.",
                  "type": "boolean"
                },
                "lookupFields": {
                  "description": "The lookup fields array.",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": true,
                    "properties": {
                      "id": {
                        "description": "Field id.",
                        "type": "integer"
                      },
                      "label": {
                        "description": "Field label.",
                        "type": "string"
                      },
                      "type": {
                        "description": "Field type.",
                        "type": "string"
                      }
                    }
                  }
                },
                "summaryFields": {
                  "description": "The summary fields array.",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": true,
                    "properties": {
                      "id": {
                        "description": "Field id.",
                        "type": "integer"
                      },
                      "label": {
                        "description": "Field label.",
                        "type": "string"
                      },
                      "type": {
                        "description": "Field type.",
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Tables"
        ]
      }
    },
    "/tables/{tableId}/relationship/{relationshipId}": {
      "post": {
        "description": "Use this endpoint to add lookup fields and summary fields to an existing relationship. Updating a relationship will not delete existing lookup/summary fields.",
        "summary": "Update a relationship",
        "operationId": "updateRelationship",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "tableId",
            "description": "The unique identifier (dbid) of the table. This will be the child table.",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "relationshipId",
            "description": "The relationship id. This is the field id of the reference field on the child table.",
            "required": true,
            "in": "path",
            "type": "number"
          },
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {
              "example": {
                "lookupFieldIds": [
                  4,
                  5,
                  6
                ],
                "summaryFields": [
                  {
                    "summaryFid": 3,
                    "label": "my summary field",
                    "accumulationType": "COUNT",
                    "where": "{'3'.EX.1}"
                  }
                ]
              },
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "summaryFields": {
                  "description": "An array of objects, each representing a configuration of one field from the child table, that will become summary fields on the parent table. When you specify the 'COUNT' accumulation type, you have to specify 0 as the summaryFid (or not set it in the request). 'DISTINCT-COUNT' requires that summaryFid be set to an actual fid.",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": true,
                    "required": [
                      "accumulationType"
                    ],
                    "properties": {
                      "summaryFid": {
                        "description": "The field id to summarize.",
                        "type": "number"
                      },
                      "label": {
                        "description": "The label for the summary field.",
                        "type": "string"
                      },
                      "accumulationType": {
                        "description": "The accumulation type for the summary field.",
                        "enum": [
                          "AVG",
                          "SUM",
                          "MAX",
                          "MIN",
                          "STD-DEV",
                          "COUNT",
                          "COMBINED-TEXT",
                          "COMBINED-USER",
                          "DISTINCT-COUNT"
                        ],
                        "type": "string"
                      },
                      "where": {
                        "description": "The filter, using the Quickbase query language, which determines the records to return.",
                        "type": "string"
                      }
                    }
                  }
                },
                "lookupFieldIds": {
                  "description": "An array of field ids on the parent table that will become lookup fields on the child table.",
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "x-amf-mediaType": "application/json",
            "schema": {
              "example": {
                "id": 6,
                "foreignKeyField": {
                  "id": 6,
                  "label": "Related record",
                  "type": "numeric"
                },
                "lookupFields": [
                  {
                    "id": 7,
                    "label": "record - text field",
                    "type": "text"
                  }
                ],
                "isCrossApp": false,
                "parentTableId": "bck7gp3q2",
                "childTableId": "bck7gp3q3",
                "summaryFields": [
                  {
                    "id": 8,
                    "label": "Summary of Record ID#2",
                    "type": "numeric"
                  }
                ]
              },
              "type": "object",
              "additionalProperties": true,
              "required": [
                "id",
                "parentTableId",
                "childTableId",
                "isCrossApp"
              ],
              "properties": {
                "id": {
                  "description": "The relationship id (foreign key field id).",
                  "type": "integer"
                },
                "parentTableId": {
                  "description": "The parent table id of the relationship.",
                  "type": "string"
                },
                "childTableId": {
                  "description": "The child table id of the relationship.",
                  "type": "string"
                },
                "foreignKeyField": {
                  "description": "The foreign key field information.",
                  "type": "object",
                  "additionalProperties": true,
                  "properties": {
                    "id": {
                      "description": "Field id.",
                      "type": "integer"
                    },
                    "label": {
                      "description": "Field label.",
                      "type": "string"
                    },
                    "type": {
                      "description": "Field type.",
                      "type": "string"
                    }
                  }
                },
                "isCrossApp": {
                  "description": "Whether this is a cross-app relationship.",
                  "type": "boolean"
                },
                "lookupFields": {
                  "description": "The lookup fields array.",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": true,
                    "properties": {
                      "id": {
                        "description": "Field id.",
                        "type": "integer"
                      },
                      "label": {
                        "description": "Field label.",
                        "type": "string"
                      },
                      "type": {
                        "description": "Field type.",
                        "type": "string"
                      }
                    }
                  }
                },
                "summaryFields": {
                  "description": "The summary fields array.",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": true,
                    "properties": {
                      "id": {
                        "description": "Field id.",
                        "type": "integer"
                      },
                      "label": {
                        "description": "Field label.",
                        "type": "string"
                      },
                      "type": {
                        "description": "Field type.",
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Tables"
        ]
      },
      "delete": {
        "description": "Use this endpoint to delete an entire relationship, including all lookup and summary fields. The reference field in the relationship will not be deleted.",
        "summary": "Delete a relationship",
        "operationId": "deleteRelationship",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "tableId",
            "description": "The unique identifier (dbid) of the table. This will be the child table.",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "relationshipId",
            "description": "The relationship id. This is the field id of the reference field on the child table.",
            "required": true,
            "in": "path",
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "x-amf-mediaType": "application/json",
            "schema": {
              "example": {
                "relationshipId": 6
              },
              "type": "object",
              "additionalProperties": true,
              "required": [
                "relationshipId"
              ],
              "properties": {
                "relationshipId": {
                  "description": "The relationship id.",
                  "type": "integer"
                }
              }
            }
          }
        },
        "tags": [
          "Tables"
        ]
      }
    },
    "/reports": {
      "get": {
        "description": "Get the schema (properties) of all reports for a table. If the user running the API is an application administrator, the API will also return all personal reports with owner's user id.",
        "operationId": "getTableReports",
        "summary": "Get reports for a table",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "tableId",
            "description": "The unique identifier of the table.",
            "required": true,
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "x-amf-mediaType": "application/json",
            "schema": {
              "description": "This is simple example of report schema for more details please refer [Report types page](../reportTypes)",
              "type": "array",
              "items": {
                "example": {
                  "value": {
                    "id": "5",
                    "name": "table-report",
                    "type": "table",
                    "description": "This is Table report.",
                    "query": {
                      "tableId": "bpweef42b",
                      "filter": "{6.CT.'FilterByThisValue'}",
                      "formulaFields": [
                        {
                          "id": -100,
                          "label": "NumericField",
                          "fieldType": "numeric",
                          "formula": "1+1",
                          "decimalPrecision": 4
                        }
                      ],
                      "fields": [
                        7
                      ],
                      "sortBy": [
                        {
                          "fieldId": 28,
                          "order": "ASC"
                        },
                        {
                          "fieldId": 3,
                          "order": "ASC"
                        }
                      ],
                      "groupBy": [
                        {
                          "fieldId": 3,
                          "grouping": "equal-values"
                        }
                      ]
                    },
                    "properties": {
                      "displayOnlyNewOrChangedRecords": true,
                      "columnProperties": [
                        {
                          "fieldId": -100,
                          "labelOverride": "Numeric Field Label"
                        }
                      ]
                    },
                    "usedLast": "2020-09-20T20:23:00Z",
                    "usedCount": 7
                  }
                },
                "type": "object",
                "additionalProperties": true,
                "properties": {
                  "id": {
                    "description": "The identifier of the report, unique to the table.",
                    "type": "string"
                  },
                  "name": {
                    "description": "The configured name of the report.",
                    "type": "string"
                  },
                  "type": {
                    "description": "The type of report in Quickbase (e.g., chart).",
                    "type": "string"
                  },
                  "description": {
                    "description": "The configured description of a report.",
                    "type": "string"
                  },
                  "ownerId": {
                    "description": "Optional, showed only for personal reports. The user ID of report owner.",
                    "type": "integer"
                  },
                  "query": {
                    "description": "The query definition as configured in Quickbase that gets executed when the report is run.",
                    "type": "object",
                    "additionalProperties": true,
                    "properties": {
                      "tableId": {
                        "description": "The table identifier for the report.",
                        "type": "string"
                      },
                      "filter": {
                        "description": "Filter used to query for data.",
                        "type": "string"
                      },
                      "formulaFields": {
                        "description": "Calculated formula fields.",
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": true,
                          "properties": {
                            "id": {
                              "description": "Formula field identifier.",
                              "type": "integer"
                            },
                            "label": {
                              "description": "Formula field label.",
                              "type": "string"
                            },
                            "fieldType": {
                              "description": "Resulting formula value type.",
                              "enum": [
                                "rich-text",
                                "text",
                                "numeric",
                                "currency",
                                "percent",
                                "rating",
                                "date",
                                "timestamp",
                                "timeofday",
                                "duration",
                                "checkbox",
                                "phone",
                                "email",
                                "user",
                                "multiuser",
                                "url"
                              ],
                              "type": "string"
                            },
                            "formula": {
                              "description": "Formula text.",
                              "type": "string"
                            },
                            "decimalPrecision": {
                              "description": "For numeric formula the number precision.",
                              "type": "integer"
                            }
                          }
                        }
                      }
                    }
                  },
                  "properties": {
                    "description": "A list of properties specific to the report type. To see a detailed description of the properties for each report type, See [Report Types.](../reportTypes)",
                    "type": "object",
                    "additionalProperties": true
                  },
                  "usedLast": {
                    "description": "The instant at which a report was last used.",
                    "type": "string"
                  },
                  "usedCount": {
                    "description": "The number of times a report has been used.",
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Reports"
        ]
      }
    },
    "/reports/{reportId}": {
      "get": {
        "description": "Get the schema (properties) of an individual report.",
        "operationId": "getReport",
        "summary": "Get a report",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "tableId",
            "description": "The unique identifier of table.",
            "required": true,
            "in": "query",
            "type": "string"
          },
          {
            "name": "reportId",
            "description": "The identifier of the report, unique to the table.",
            "required": true,
            "in": "path",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "x-amf-mediaType": "application/json",
            "schema": {
              "example": {
                "value": {
                  "id": "5",
                  "name": "table-report",
                  "type": "table",
                  "description": "This is Table report.",
                  "query": {
                    "tableId": "bpweef42b",
                    "filter": "{6.CT.'FilterByThisValue'}",
                    "formulaFields": [
                      {
                        "id": -100,
                        "label": "NumericField",
                        "fieldType": "numeric",
                        "formula": "1+1",
                        "decimalPrecision": 4
                      }
                    ],
                    "fields": [
                      7
                    ],
                    "sortBy": [
                      {
                        "fieldId": 28,
                        "order": "ASC"
                      },
                      {
                        "fieldId": 3,
                        "order": "ASC"
                      }
                    ],
                    "groupBy": [
                      {
                        "fieldId": 3,
                        "grouping": "equal-values"
                      }
                    ]
                  },
                  "properties": {
                    "displayOnlyNewOrChangedRecords": true,
                    "columnProperties": [
                      {
                        "fieldId": -100,
                        "labelOverride": "Numeric Field Label"
                      }
                    ]
                  },
                  "usedLast": "2020-09-20T20:23:00Z",
                  "usedCount": 7
                }
              },
              "type": "object",
              "additionalProperties": true,
              "properties": {
                "id": {
                  "description": "The identifier of the report, unique to the table.",
                  "type": "string"
                },
                "name": {
                  "description": "The configured name of the report.",
                  "type": "string"
                },
                "type": {
                  "description": "The type of report in Quickbase (e.g., chart).",
                  "type": "string"
                },
                "description": {
                  "description": "The configured description of a report.",
                  "type": "string"
                },
                "ownerId": {
                  "description": "Optional, showed only for personal reports. The user ID of report owner.",
                  "type": "integer"
                },
                "query": {
                  "description": "The query definition as configured in Quickbase that gets executed when the report is run.",
                  "type": "object",
                  "additionalProperties": true,
                  "properties": {
                    "tableId": {
                      "description": "The table identifier for the report.",
                      "type": "string"
                    },
                    "filter": {
                      "description": "Filter used to query for data.",
                      "type": "string"
                    },
                    "formulaFields": {
                      "description": "Calculated formula fields.",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true,
                        "properties": {
                          "id": {
                            "description": "Formula field identifier.",
                            "type": "integer"
                          },
                          "label": {
                            "description": "Formula field label.",
                            "type": "string"
                          },
                          "fieldType": {
                            "description": "Resulting formula value type.",
                            "enum": [
                              "rich-text",
                              "text",
                              "numeric",
                              "currency",
                              "percent",
                              "rating",
                              "date",
                              "timestamp",
                              "timeofday",
                              "duration",
                              "checkbox",
                              "phone",
                              "email",
                              "user",
                              "multiuser",
                              "url"
                            ],
                            "type": "string"
                          },
                          "formula": {
                            "description": "Formula text.",
                            "type": "string"
                          },
                          "decimalPrecision": {
                            "description": "For numeric formula the number precision.",
                            "type": "integer"
                          }
                        }
                      }
                    }
                  }
                },
                "properties": {
                  "description": "A list of properties specific to the report type. To see a detailed description of the properties for each report type, See [Report Types.](../reportTypes)",
                  "type": "object",
                  "additionalProperties": true
                },
                "usedLast": {
                  "description": "The instant at which a report was last used.",
                  "type": "string"
                },
                "usedCount": {
                  "description": "The number of times a report has been used.",
                  "type": "integer"
                }
              }
            }
          }
        },
        "tags": [
          "Reports"
        ]
      }
    },
    "/reports/{reportId}/run": {
      "post": {
        "operationId": "runReport",
        "summary": "Run a report",
        "tags": [
          "Reports"
        ],
        "parameters": [
          {
            "name": "reportId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The report identifier."
          },
          {
            "name": "generated",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ReportRunResponse"
              }
            }
          }
        }
      }
    },
    "/fields": {
      "get": {
        "operationId": "getFields",
        "summary": "Get all fields for a table",
        "tags": [
          "Fields"
        ],
        "parameters": [
          {
            "name": "tableId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The table identifier (dbid)."
          },
          {
            "name": "includeFieldPerms",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Whether to include field permissions."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Field"
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createField",
        "summary": "Create a new field in a table",
        "tags": [
          "Fields"
        ],
        "parameters": [
          {
            "name": "tableId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The unique identifier of the table."
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateFieldRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success - field created",
            "schema": {
              "$ref": "#/definitions/CreateField200Response"
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteFields",
        "summary": "Delete fields from a table",
        "tags": [
          "Fields"
        ],
        "parameters": [
          {
            "name": "tableId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The unique identifier of the table."
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteFieldsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success - fields deleted, with possible errors",
            "schema": {
              "$ref": "#/definitions/DeleteFields200Response"
            }
          }
        }
      }
    },
    "/fields/{fieldId}": {
      "get": {
        "operationId": "getField",
        "summary": "Get the properties of an individual field by ID",
        "tags": [
          "Fields"
        ],
        "parameters": [
          {
            "name": "fieldId",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The unique identifier (fid) of the field."
          },
          {
            "name": "tableId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The unique identifier (dbid) of the table."
          },
          {
            "name": "includeFieldPerms",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Set to 'true' to include custom permissions for the field."
          }
        ],
        "responses": {
          "200": {
            "description": "Success - field properties retrieved",
            "schema": {
              "$ref": "#/definitions/Field"
            }
          }
        }
      }
    },
    "/fields/usage": {
      "get": {
        "operationId": "getFieldsUsage",
        "summary": "Get usage statistics for all fields in a table",
        "tags": [
          "Fields"
        ],
        "parameters": [
          {
            "name": "tableId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The unique identifier (dbid) of the table."
          },
          {
            "name": "skip",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "The number of fields to skip from the list."
          },
          {
            "name": "top",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "The maximum number of fields to return."
          }
        ],
        "responses": {
          "200": {
            "description": "Success - field usage statistics retrieved",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FieldUsage"
              }
            }
          }
        }
      }
    },
    "/fields/usage/{fieldId}": {
      "get": {
        "operationId": "getFieldUsage",
        "summary": "Get usage statistics for a single field",
        "description": "Retrieve usage statistics for a specific field, summarizing where it is referenced across QuickBase features such as reports, forms, and pipelines.",
        "tags": [
          "Fields"
        ],
        "parameters": [
          {
            "name": "fieldId",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The unique identifier (fid) of the field."
          },
          {
            "name": "tableId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The unique identifier (dbid) of the table containing the field."
          },
          {
            "name": "User-Agent",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Identifies the client making the request. Can be custom or default from your toolkit."
          }
        ],
        "responses": {
          "200": {
            "description": "Success - field usage statistics retrieved",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FieldUsage"
              },
              "maxItems": 1
            }
          }
        }
      }
    },
    "/formula/run": {
      "post": {
        "description": "Allows running a formula via an API call. Use this method in custom code to get the value back of a formula without a discrete field on a record.",
        "summary": "Run a formula",
        "operationId": "runFormula",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {
              "description": "The following example will execute a Sum() for '20' and the value in a record with id 1 for the field with label 'NumericField'. Since this API is able to run any type of formula, all results will be returned as a string.",
              "example": {
                "from": "bck7gp3q2",
                "formula": "Sum([NumericField],20)",
                "rid": 1
              },
              "type": "object",
              "additionalProperties": false,
              "required": [
                "formula",
                "from"
              ],
              "properties": {
                "formula": {
                  "description": "The formula to run. This must be a valid Quickbase formula.",
                  "type": "string"
                },
                "rid": {
                  "description": "The record ID to run the formula against. Only necessary for formulas that are run in the context of a record. For example, the formula User() does not need a record ID.",
                  "type": "integer"
                },
                "from": {
                  "description": "The unique identifier (dbid) of the table.",
                  "example": "bck7gp3q2",
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "x-amf-mediaType": "application/json",
            "schema": {
              "example": {
                "result": "30"
              },
              "type": "object",
              "additionalProperties": true,
              "properties": {
                "result": {
                  "description": "The formula execution result.",
                  "type": "string"
                }
              }
            }
          }
        },
        "tags": [
          "Formulas"
        ]
      }
    },
    "/records": {
      "post": {
        "operationId": "upsert",
        "summary": "Upsert records in a table",
        "tags": [
          "Records"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpsertRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success - all records processed successfully",
            "schema": {
              "$ref": "#/definitions/Upsert200Response"
            }
          },
          "207": {
            "description": "Multi-Status - partial success with some errors",
            "schema": {
              "$ref": "#/definitions/Upsert207Response"
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteRecords",
        "summary": "Delete records in a table",
        "tags": [
          "Records"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteRecordsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success - records deleted",
            "schema": {
              "$ref": "#/definitions/DeleteRecords200Response"
            }
          }
        }
      }
    },
    "/records/query": {
      "post": {
        "operationId": "runQuery",
        "summary": "Query records in a table",
        "tags": [
          "Records"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RunQueryRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success - records returned",
            "schema": {
              "$ref": "#/definitions/RunQueryResponse"
            }
          }
        }
      }
    },
    "/auth/temporary/{dbid}": {
      "get": {
        "operationId": "getTempTokenDBID",
        "summary": "Get a temporary authorization token for a specific dbid",
        "tags": [
          "Auth"
        ],
        "parameters": [
          {
            "name": "dbid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The database identifier (dbid)."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetTempTokenDBID200Response"
            }
          }
        }
      }
    },
    "/auth/oauth/token": {
      "post": {
        "description": "Use this endpoint to exchange a SAML assertion for a Quickbase token following [RFC 8693](https://www.rfc-editor.org/rfc/rfc8693.html). Callers can choose to return a token compatible with SCIM, XML, or RESTful APIs. The token duration is determined by the [SAML timeout session time](https://helpv2.quickbase.com/hc/en-us/articles/4570410646420-SAML-assertion-example#:~:text=Setting%20SAML%20timeout%20session%20time). You must be able to create a SAML assertion in your code to use this endpoint. The SAML assertion is verified against the configuration on the realm. Learn more about about [SAML assertions](https://helpv2.quickbase.com/hc/en-us/articles/4570410646420-SAML-assertion-example).",
        "summary": "Exchange an SSO token",
        "operationId": "exchangeSsoToken",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {
              "example": {
                "grant_type": "urn:ietf:params:oauth:grant-type:token-exchange",
                "requested_token_type": "urn:quickbase:params:oauth:token-type:temp_ticket",
                "subject_token": "PHNhbWxwOlJlc3BvbnNlDQogICAgeG1sbnM6c2FtbHA9bjp...",
                "subject_token_type": "urn:ietf:params:oauth:token-type:saml2"
              },
              "type": "object",
              "additionalProperties": false,
              "required": [
                "grant_type",
                "subject_token",
                "subject_token_type",
                "requested_token_type"
              ],
              "properties": {
                "grant_type": {
                  "type": "string",
                  "description": "The value `urn:ietf:params:oauth:grant-type:token-exchange` indicates that a token exchange is being performed.",
                  "enum": [
                    "urn:ietf:params:oauth:grant-type:token-exchange"
                  ]
                },
                "requested_token_type": {
                  "type": "string",
                  "description": "An identifier for the type of the requested security token. For the RESTful API, use `urn:quickbase:params:oauth:token-type:temp_token`. For the XML or SCIM APIs use `urn:quickbase:params:oauth:token-type:temp_ticket`.",
                  "enum": [
                    "urn:quickbase:params:oauth:token-type:temp_ticket",
                    "urn:quickbase:params:oauth:token-type:temp_token"
                  ]
                },
                "subject_token": {
                  "type": "string",
                  "description": "A security token that represents the identity of the party on behalf of whom the request is being made. For SAML 2.0, the value should be a base64url-encoded SAML 2.0 assertion."
                },
                "subject_token_type": {
                  "type": "string",
                  "description": "An identifier that indicates the type of the security token in the `subject_token` parameter.",
                  "enum": [
                    "urn:ietf:params:oauth:token-type:saml2"
                  ]
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "x-amf-mediaType": "application/json",
            "schema": {
              "example": {
                "access_token": "example_token_1NiIsImtpZCI6IjllciJ9w",
                "issued_token_type": "urn:quickbase:params:oauth:token-type:temp_ticket",
                "token_type": "N_A"
              },
              "type": "object",
              "additionalProperties": true,
              "properties": {
                "access_token": {
                  "type": "string",
                  "description": "The security token issued by the authorization server in response to the token exchange request. The identifier `access_token` is used for historical reasons and the issued token need not be an OAuth access token."
                },
                "issued_token_type": {
                  "type": "string",
                  "description": "An identifier for the representation of the issued security token.",
                  "enum": [
                    "urn:quickbase:params:oauth:token-type:temp_ticket",
                    "urn:quickbase:params:oauth:token-type:temp_token"
                  ]
                },
                "token_type": {
                  "type": "string",
                  "description": "Will always return `N_A`",
                  "enum": [
                    "N_A"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Auth"
        ]
      }
    },
    "/usertoken/clone": {
      "post": {
        "description": "Clones the authenticated user token. All applications associated with that token are automatically associated with the new token.",
        "summary": "Clone a user token",
        "operationId": "cloneUserToken",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {
              "example": {
                "name": "My cloned user token",
                "description": "Cloned from user token A"
              },
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "name": {
                  "description": "The new name for the cloned user token.",
                  "type": "string"
                },
                "description": {
                  "description": "The description for the cloned user token.",
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "x-amf-mediaType": "application/json",
            "schema": {
              "example": {
                "active": true,
                "apps": [
                  {
                    "id": "bpqe82s1",
                    "name": "My first app"
                  },
                  {
                    "id": "bpqe82s2",
                    "name": "My second app"
                  }
                ],
                "lastUsed": "2020-03-27T18:34:12.000Z",
                "description": "Cloned user token",
                "id": 5,
                "name": "My cloned user token",
                "token": "token"
              },
              "type": "object",
              "additionalProperties": true,
              "properties": {
                "active": {
                  "description": "Whether the user token is active.",
                  "type": "boolean"
                },
                "apps": {
                  "description": "The list of apps this user token is assigned to.",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": true,
                    "properties": {
                      "id": {
                        "description": "The unique identifier for this application.",
                        "type": "string"
                      },
                      "name": {
                        "description": "The application's name.",
                        "type": "string"
                      }
                    }
                  }
                },
                "lastUsed": {
                  "description": "The last date this user token was used, in the ISO 8601 time format YYYY-MM-DDThh:mm:ss.sssZ (in UTC time zone).",
                  "type": "string"
                },
                "description": {
                  "description": "User Token description.",
                  "type": "string"
                },
                "id": {
                  "description": "User Token id.",
                  "type": "integer"
                },
                "name": {
                  "description": "User Token name.",
                  "type": "string"
                },
                "token": {
                  "description": "User Token value.",
                  "type": "string"
                }
              }
            }
          }
        },
        "tags": [
          "UserToken"
        ]
      }
    },
    "/usertoken/transfer": {
      "post": {
        "description": "Transfers the specified user token. Application associations will remain intact. For security, permissions must manually be reconciled.",
        "summary": "Transfer a user token",
        "operationId": "transferUserToken",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {
              "example": {
                "id": 17658,
                "from": "62341.tr3s",
                "to": "123456.ab1s"
              },
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "id": {
                  "type": "number",
                  "description": "The id of the user token to transfer"
                },
                "from": {
                  "type": "string",
                  "description": "The id of the user to transfer the user token from"
                },
                "to": {
                  "type": "string",
                  "description": "The id of the user to transfer the user token to"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "x-amf-mediaType": "application/json",
            "schema": {
              "example": {
                "active": true,
                "apps": [
                  {
                    "id": "bpqe82s1",
                    "name": "My first app"
                  },
                  {
                    "id": "bpqe82s2",
                    "name": "My second app"
                  }
                ],
                "lastUsed": "2020-03-27T18:34:12.000Z",
                "description": "Transferred user token",
                "id": 5,
                "name": "My transferred user token"
              },
              "type": "object",
              "additionalProperties": true,
              "properties": {
                "active": {
                  "description": "Whether the user token is active.",
                  "type": "boolean"
                },
                "apps": {
                  "description": "The list of apps this user token is assigned to.",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": true,
                    "properties": {
                      "id": {
                        "description": "The unique identifier for this application.",
                        "type": "string"
                      },
                      "name": {
                        "description": "The application's name.",
                        "type": "string"
                      }
                    }
                  }
                },
                "lastUsed": {
                  "description": "The last date this user token was used, in the ISO 8601 time format YYYY-MM-DDThh:mm:ss.sssZ (in UTC time zone).",
                  "type": "string"
                },
                "description": {
                  "description": "User Token description.",
                  "type": "string"
                },
                "id": {
                  "description": "User Token id.",
                  "type": "integer"
                },
                "name": {
                  "description": "User Token name.",
                  "type": "string"
                }
              }
            }
          }
        },
        "tags": [
          "UserToken"
        ]
      }
    },
    "/usertoken/deactivate": {
      "post": {
        "description": "Deactivates the authenticated user token. Once this is done, the user token must be reactivated in the user interface.",
        "summary": "Deactivate a user token",
        "operationId": "deactivateUserToken",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "x-amf-mediaType": "application/json",
            "schema": {
              "example": {
                "id": 5
              },
              "type": "object",
              "additionalProperties": true,
              "properties": {
                "id": {
                  "description": "The user token id.",
                  "type": "integer"
                }
              }
            }
          }
        },
        "tags": [
          "UserToken"
        ]
      }
    },
    "/usertoken": {
      "delete": {
        "description": "Deletes the authenticated user token. This is not reversible.",
        "summary": "Delete a user token",
        "operationId": "deleteUserToken",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "x-amf-mediaType": "application/json",
            "schema": {
              "example": {
                "id": 5
              },
              "type": "object",
              "additionalProperties": true,
              "properties": {
                "id": {
                  "description": "The user token id.",
                  "type": "integer"
                }
              }
            }
          }
        },
        "tags": [
          "UserToken"
        ]
      }
    },
    "/files/{tableId}/{recordId}/{fieldId}/{versionNumber}": {
      "get": {
        "description": "Downloads the file attachment, with the file attachment content encoded in base64 format. The API response returns the file name in the `Content-Disposition` header. Meta-data about files can be retrieved from the /records and /reports endpoints, where applicable. Use those endpoints to get the necessary information to fetch files.",
        "summary": "Download file",
        "operationId": "downloadFile",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "tableId",
            "description": "The unique identifier of the table.",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "recordId",
            "description": "The unique identifier of the record.",
            "required": true,
            "in": "path",
            "type": "integer"
          },
          {
            "name": "fieldId",
            "description": "The unique identifier of the field.",
            "required": true,
            "in": "path",
            "type": "integer"
          },
          {
            "name": "versionNumber",
            "description": "The file attachment version number.",
            "required": true,
            "in": "path",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "x-amf-mediaType": "application/octet-stream",
            "schema": {
              "description": "Base64 encoded file content.",
              "example": "UXVpY2sgQmFzZSBJbmMu"
            }
          }
        },
        "tags": [
          "Files"
        ]
      },
      "delete": {
        "description": "Deletes one file attachment version. Meta-data about files can be retrieved from the /records and /reports endpoints, where applicable. Use those endpoints to get the necessary information to delete file versions.",
        "summary": "Delete file",
        "operationId": "deleteFile",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "tableId",
            "description": "The unique identifier of the table.",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "recordId",
            "description": "The unique identifier of the record.",
            "required": true,
            "in": "path",
            "type": "integer"
          },
          {
            "name": "fieldId",
            "description": "The unique identifier of the field.",
            "required": true,
            "in": "path",
            "type": "integer"
          },
          {
            "name": "versionNumber",
            "description": "The file attachment version number.",
            "required": true,
            "in": "path",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully Deleted the File Attachment",
            "x-amf-mediaType": "application/json",
            "schema": {
              "example": {
                "versionNumber": 1,
                "fileName": "file.pdf",
                "uploaded": "2019-12-18T08:00:00Z",
                "creator": {
                  "email": "jsmith@quickbase.com",
                  "id": "123456.ab1s",
                  "name": "Juliet Smith",
                  "userName": "jsmith"
                }
              },
              "type": "object",
              "additionalProperties": true,
              "properties": {
                "versionNumber": {
                  "description": "The number of deleted version.",
                  "type": "integer"
                },
                "fileName": {
                  "description": "The name of file associated with deleted version.",
                  "type": "string"
                },
                "uploaded": {
                  "description": "The timestamp when the version was originally uploaded.",
                  "type": "string"
                },
                "creator": {
                  "description": "The user that uploaded version.",
                  "type": "object",
                  "additionalProperties": true,
                  "properties": {
                    "name": {
                      "description": "User full name.",
                      "type": "string"
                    },
                    "id": {
                      "description": "User Id.",
                      "type": "string"
                    },
                    "email": {
                      "description": "User email.",
                      "type": "string"
                    },
                    "userName": {
                      "description": "User Name as updated in user properties. Optional, appears if not the same as user email.",
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Files"
        ]
      }
    },
    "/users": {
      "post": {
        "description": "Get all users in an account or narrowed down list of users filtered by email(s). The returned users may be paginated depending on the user count. The count of the returned users may vary. When `nextPageToken` value in the response is not empty, that indicates that there are more results to be returned, you can use this value to get the next result set ('page').",
        "summary": "Get users",
        "operationId": "getUsers",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "accountId",
            "description": "The account id being used to get users. If no value is specified, the first account associated with the requesting user token is chosen.",
            "required": false,
            "in": "query",
            "type": "number"
          },
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {
              "x-amf-examples": {
                "Get first page example": {
                  "emails": [
                    "jswilson@domain.com",
                    "jon_doe@domain.com",
                    "sjackson@domain.com"
                  ],
                  "appIds": [
                    "ab3rd3",
                    "23erfd",
                    "xpsd32"
                  ],
                  "nextPageToken": ""
                },
                "Get next page example": {
                  "emails": [
                    "jswilson@domain.com",
                    "sjackson@domain.com"
                  ],
                  "appIds": [
                    "ab3rd3",
                    "23erfd"
                  ],
                  "nextPageToken": "bzw2a9"
                }
              },
              "type": "object",
              "additionalProperties": true,
              "properties": {
                "emails": {
                  "description": "When provided, the returned users will be narrowed down only to the users included in this list.",
                  "type": "array",
                  "uniqueItems": true,
                  "items": {
                    "type": "string",
                    "pattern": "^.+@.+\\..+$",
                    "minLength": 2,
                    "maxLength": 256
                  }
                },
                "appIds": {
                  "description": "When provided, the returned users will be narrowed down only to the users assigned to the app id's provided in this list. The provided app id's should belong to the same account.",
                  "type": "array",
                  "uniqueItems": true,
                  "items": {
                    "type": "string"
                  }
                },
                "nextPageToken": {
                  "description": "Next page token used to get the next 'page' of results when available. When this field is empty, the first page is returned.",
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "x-amf-mediaType": "application/json",
            "schema": {
              "x-amf-examples": {
                "All results example": {
                  "users": [
                    {
                      "userName": "jdoe",
                      "firstName": "Jon",
                      "lastName": "Doe",
                      "emailAddress": "jdoe@domain.com",
                      "hashId": "58351651.xc1"
                    },
                    {
                      "userName": "swilson",
                      "firstName": "Simone",
                      "lastName": "Wilson",
                      "emailAddress": "jswilson@domain.com",
                      "hashId": "58351648.xc1"
                    },
                    {
                      "userName": "sjackson",
                      "firstName": "Samuel",
                      "lastName": "Jackson",
                      "emailAddress": "sjackson@domain.com",
                      "hashId": "58351643.xc1"
                    }
                  ],
                  "metadata": {
                    "nextPageToken": ""
                  }
                },
                "Paged results example": {
                  "users": [
                    {
                      "userName": "swilson",
                      "firstName": "Simone",
                      "lastName": "Wilson",
                      "emailAddress": "jswilson@domain.com",
                      "hashId": "58351648.xc1"
                    },
                    {
                      "userName": "sjackson",
                      "firstName": "Samuel",
                      "lastName": "Jackson",
                      "emailAddress": "sjackson@domain.com",
                      "hashId": "58351643.xc1"
                    }
                  ],
                  "metadata": {
                    "nextPageToken": "bzw2ba"
                  }
                }
              },
              "type": "object",
              "additionalProperties": true,
              "required": [
                "users",
                "metadata"
              ],
              "properties": {
                "users": {
                  "description": "A list of users found in an account with the given criterias",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": true,
                    "required": [
                      "userName",
                      "firstName",
                      "lastName",
                      "emailAddress",
                      "hashId"
                    ],
                    "properties": {
                      "userName": {
                        "type": "string"
                      },
                      "firstName": {
                        "type": "string"
                      },
                      "lastName": {
                        "type": "string"
                      },
                      "emailAddress": {
                        "type": "string"
                      },
                      "hashId": {
                        "type": "string"
                      }
                    }
                  }
                },
                "metadata": {
                  "description": "Additional request information",
                  "type": "object",
                  "additionalProperties": true,
                  "required": [
                    "nextPageToken"
                  ],
                  "properties": {
                    "nextPageToken": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Users"
        ]
      }
    },
    "/users/deny": {
      "put": {
        "description": "Denies users access to the realm but leaves them listed in groups they have been added to.",
        "summary": "Deny users",
        "operationId": "denyUsers",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "accountId",
            "description": "The account id being used to deny users. If no value is specified, the first account associated with the requesting user token is chosen.",
            "required": false,
            "in": "query",
            "type": "number"
          },
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {
              "description": "A list of user IDs that need to be denied.",
              "example": [
                "123456.ab1s",
                "423123.vc2d",
                "78910.ba1s"
              ],
              "type": "array",
              "maxItems": 1000,
              "minItems": 1,
              "uniqueItems": true,
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "x-amf-mediaType": "application/json",
            "schema": {
              "example": {
                "failure": [
                  "423123.vc2d",
                  "78910.ba1s"
                ],
                "success": [
                  "123456.ab1s"
                ]
              },
              "type": "object",
              "additionalProperties": true,
              "required": [
                "failure",
                "success"
              ],
              "properties": {
                "failure": {
                  "description": "A list of users that couldn't be denied. This also includes the ID's of users that are not valid.",
                  "example": [
                    "78910.qwer",
                    "3512.asd1"
                  ],
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "success": {
                  "description": "A list of users that have successfully been denied.",
                  "example": [
                    "123456.ab1s"
                  ],
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Users"
        ]
      }
    },
    "/users/deny/{shouldDeleteFromGroups}": {
      "put": {
        "description": "Denies users access to the realm and allows you to remove them from groups.",
        "summary": "Deny and remove users from groups",
        "operationId": "denyUsersAndGroups",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "accountId",
            "description": "The account id being used to deny users. If no value is specified, the first account associated with the requesting user token is chosen.",
            "required": false,
            "in": "query",
            "type": "number"
          },
          {
            "name": "shouldDeleteFromGroups",
            "description": "Specifies if the users should also be removed from all groups.",
            "required": true,
            "in": "path",
            "type": "boolean"
          },
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {
              "description": "A list of user IDs that need to be denied.",
              "example": [
                "123456.ab1s",
                "423123.vc2d",
                "78910.ba1s"
              ],
              "type": "array",
              "maxItems": 1000,
              "minItems": 1,
              "uniqueItems": true,
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "x-amf-mediaType": "application/json",
            "schema": {
              "example": {
                "failure": [
                  "423123.vc2d",
                  "78910.ba1s"
                ],
                "success": [
                  "123456.ab1s"
                ]
              },
              "type": "object",
              "additionalProperties": true,
              "required": [
                "failure",
                "success"
              ],
              "properties": {
                "failure": {
                  "description": "A list of users that couldn't be denied. This also includes the ID's of users that are not valid.",
                  "example": [
                    "78910.qwer",
                    "3512.asd1"
                  ],
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "success": {
                  "description": "A list of users that have successfully been denied.",
                  "example": [
                    "123456.ab1s"
                  ],
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Users"
        ]
      }
    },
    "/users/undeny": {
      "put": {
        "description": "Grants users that have previously been denied access to the realm.",
        "summary": "Undeny users",
        "operationId": "undenyUsers",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "accountId",
            "description": "The account id being used to undeny users. If no value is specified, the first account associated with the requesting user token is chosen.",
            "required": false,
            "in": "query",
            "type": "number"
          },
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {
              "description": "A list of user IDs that need to be undenied.",
              "example": [
                "123456.ab1s",
                "423123.vc2d",
                "78910.ba1s"
              ],
              "type": "array",
              "maxItems": 1000,
              "minItems": 1,
              "uniqueItems": true,
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "x-amf-mediaType": "application/json",
            "schema": {
              "example": {
                "failure": [
                  "423123.vc2d",
                  "78910.ba1s"
                ],
                "success": [
                  "123456.ab1s"
                ]
              },
              "type": "object",
              "additionalProperties": true,
              "required": [
                "failure",
                "success"
              ],
              "properties": {
                "failure": {
                  "description": "A list of users that couldn't be undenied. This also includes the ID's of users that are not valid.",
                  "example": [
                    "78910.qwer",
                    "3512.asd1"
                  ],
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "success": {
                  "description": "A list of users that have successfully been undenied.",
                  "example": [
                    "123456.ab1s"
                  ],
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Users"
        ]
      }
    },
    "/groups/{gid}/members": {
      "post": {
        "description": "Adds a list of users to a given group as members.",
        "summary": "Add members",
        "operationId": "addMembersToGroup",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "gid",
            "description": "This is the ID of the group being modified.",
            "required": true,
            "in": "path",
            "type": "number"
          },
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {
              "description": "A list of user IDs that will be added to a group.",
              "example": [
                "123456.ryyw",
                "423123.b3x5",
                "100000.be8s"
              ],
              "type": "array",
              "maxItems": 1000,
              "minItems": 1,
              "uniqueItems": true,
              "items": {
                "description": "The Id and its hash value of the user to be added to a group.",
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "x-amf-mediaType": "application/json",
            "schema": {
              "example": {
                "failure": [
                  "123456.ryyw",
                  "423123.b3x5"
                ],
                "success": [
                  "100000.be8s"
                ]
              },
              "type": "object",
              "additionalProperties": true,
              "required": [
                "failure",
                "success"
              ],
              "properties": {
                "failure": {
                  "description": "A list of users that couldn’t be added to the group. This includes a list of IDs that represent invalid users and users who have already been added to the group.",
                  "example": [
                    "423123.b3x5",
                    "123456.ryyw"
                  ],
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "success": {
                  "description": "A list of users that have been added to the group successfully.",
                  "example": [
                    "100000.be8s"
                  ],
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Users"
        ]
      },
      "delete": {
        "description": "Removes a list of members from a given group.",
        "summary": "Remove members",
        "operationId": "removeMembersFromGroup",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "gid",
            "description": "This is the ID of the group being modified.",
            "required": true,
            "in": "path",
            "type": "number"
          },
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {
              "description": "A list of user IDs that will be removed from a group.",
              "example": [
                "123456.ryyw",
                "423123.b3x5",
                "100000.be8s"
              ],
              "type": "array",
              "maxItems": 1000,
              "minItems": 1,
              "uniqueItems": true,
              "items": {
                "description": "The Id and its hash value of the user to be removed from a group.",
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "x-amf-mediaType": "application/json",
            "schema": {
              "example": {
                "failure": [
                  "123456.ryyw",
                  "423123.b3x5"
                ],
                "success": [
                  "100000.be8s"
                ]
              },
              "type": "object",
              "additionalProperties": true,
              "required": [
                "failure",
                "success"
              ],
              "properties": {
                "failure": {
                  "description": "A list of users that couldn’t be removed from the group. This includes a list of IDs that represent invalid users.",
                  "example": [
                    "423123.b3x5",
                    "123456.ryyw"
                  ],
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "success": {
                  "description": "A list of users that have been removed from the group successfully.",
                  "example": [
                    "100000.be8s"
                  ],
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Users"
        ]
      }
    },
    "/groups/{gid}/managers": {
      "post": {
        "description": "Adds a list of users to a given group as managers.",
        "summary": "Add managers",
        "operationId": "addManagersToGroup",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "gid",
            "description": "This is the ID of the group being modified.",
            "required": true,
            "in": "path",
            "type": "number"
          },
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {
              "description": "A list of user IDs that will be added to a group.",
              "example": [
                "123456.ryyw",
                "423123.b3x5",
                "100000.be8s"
              ],
              "type": "array",
              "maxItems": 1000,
              "minItems": 1,
              "uniqueItems": true,
              "items": {
                "description": "The Id and its hash value of the user to be added to a group.",
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "x-amf-mediaType": "application/json",
            "schema": {
              "example": {
                "failure": [
                  "123456.ryyw",
                  "423123.b3x5"
                ],
                "success": [
                  "100000.be8s"
                ]
              },
              "type": "object",
              "additionalProperties": true,
              "required": [
                "failure",
                "success"
              ],
              "properties": {
                "failure": {
                  "description": "A list of users that couldn’t be added to the group. This includes a list of IDs that represent invalid users and users who have already been added to the group.",
                  "example": [
                    "423123.b3x5",
                    "123456.ryyw"
                  ],
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "success": {
                  "description": "A list of users that have been added to the group successfully.",
                  "example": [
                    "100000.be8s"
                  ],
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Users"
        ]
      },
      "delete": {
        "description": "Removes a list of managers from a given group.",
        "summary": "Remove managers",
        "operationId": "removeManagersFromGroup",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "gid",
[...]
